[2013-09-09 09:28] fmoo opened #1 "Limit # of rendered options in TypeaheadSelector pulldown"

[2013-09-09 09:29] fmoo opened #2 "Provide some examples. Maybe some suggested css?"

[2013-10-06 11:01] jordwalke opened #3 "Include `package.json`"
People should be able to use this from https://github.com/facebook/react-page as long as there is a `package.json` file. This could be one of the first "shared" components that we use as an example if you like.

You can also define your CSS rules using JS directly using what Hedger built:
https://github.com/hedgerwang/react-styles.

That way, everything your component needs is completely encapsula

[2013-10-08 07:50] #3 closed, assigned to nobody

[2014-08-18 19:33] meandavejustice opened #6 "404s on example"
Probably a bug with htmlpreview.

[code]

[2014-08-18 22:02] #6 closed, assigned to nobody

[2014-08-18 22:02] #1 closed, assigned to nobody

[2014-08-22 20:58] #2 closed, assigned to nobody

[2014-09-12 23:09] gauravtiwari opened #9 "Add id and name field to the typeahead, tokenizer"
Hey there,

Thanks for this component. Works great. If  you can please let me know, how to add id and name attribute on input field?

Thank you,
Gaurav

[2014-09-18 10:14] seidtgeist opened #10 "Make Typeahead component select first option by default"
It would be useful if the Typeahead component selected the first matching option automatically. When it's the option you want you could just hit return without having to use the arrow keys at all. Happy to send a PR.

[2014-09-25 03:46] peacechen opened #11 "dynamically updating typeahead options (data)"
For this use case, as the user enters text in the typeahead input box, the client code performs a REST call to the server to fetch potential matches from a database.  For instance, as the user types "John Doe", the typeahead results should dynamically update with each keystroke, first matching all names beginning with "John", then "John D", etc...  I've tried to bind the options to the state as su

[2014-09-26 13:27] Ahrengot opened #12 "React.js is part of compiled file"
I use Require.js, not browserfy, so I was going for the compiled file. I was a little surpised when I saw that the compiled file weighs in at **677kb**, but then I saw it includes React.js itself, which isn't a good idea in my opinion.

Just like a jQuery plugin doesn't include jQuery, a React component should include React itself. It's fairly logical that a React component is is a depending on yo

[2014-10-13 19:30] florapdx opened #13 "Using 'react/addons' vs 'react-addons' package"
Wondering if there are plans to update to the new 'react-addons' package that fixes issues that users might run into in a Browserify environment?

[2014-10-20 19:23] #13 closed, assigned to wookiehangover

[2014-10-24 10:41] bernadetteguinan opened #14 "react-typeahead build errors after npm install"
Hello,

I installed react-typeahead with npm

    npm install react-typeahead

However, I get build errors:

    ERROR in ./~/react-typeahead/src/typeahead/index.js
    Module parse failed: /Users/bernadetteguinan/code/wwb-web-app/node_modules/react-   typeahead/src/typeahead/index.js Line 87: Unexpected token <
    You may need an appropriate loader to handle this file type.
    |
    |     retur

[2014-11-01 13:04] #12 closed, assigned to wookiehangover

[2014-11-17 13:53] ghost opened #19 "Tokenizer doesn't pass props.onKeyDown to Typeahead"

[2014-11-17 17:46] ghost opened #20 "Select on enter key if the text match an option (no need to select with the down arrow key)"

[2014-11-20 18:41] yashafromrussia opened #21 "List should not be visible when defaultValue is provided"
I'm not sure if this is how it was designed to work or not; however, when I provide a defaultValue in props, Typeahead starts up with an open list if the defaultValue matches one of the options. And it seems like it was done on purpose since the visible state is not set to false initially:

[code]

Was this behaviour intended?

[2015-03-07 10:51] #11 closed

[2015-03-07 10:52] fmoo commented on #11
Ok, I landed acf88f477e130817f4b8b496239a4d14d1a24e98 which is a sort of combination of both approaches that seems to work.  Let me know what you think!

[2015-03-07 23:28] fmoo commented on #20
Would you want an exact match or just if there is 1 result in the suggestion list?

If the former, this seems reasonable.  If the latter, there are some use cases this would break if not implemented correctly.

[2015-03-07 23:43] fmoo commented on #9
Does anyone still need this feature?  I can't believe I never got a PR for this (and that I never implemented this to begin with!)

[2015-03-08 00:30] fmoo commented on #10
This sounds like it might have the same effect as #20; my only concern with this approach is that there is a use case where you want to "submit" an item not in the typeahead (e.g., allowing a tag tokenizer to prompt to create a new tag)

[2015-03-08 00:31] fmoo commented on #19
Can you explain this in a bit more detail?  What are you trying to do?

[2015-03-11 21:16] FoxxMD commented on #14
Im facing the same problem :+1:

[2015-03-11 22:48] fmoo commented on #14
@FoxxMD - what command are you using to perform the build?

[2015-03-12 13:59] FoxxMD commented on #14
I'm using webpack with a loader configuration to pickup `.jsx` extensions using `jsx-loader`

[code]

I'm actually trying to switch to babel-loader so I can use regular `.js` files with es6 features (and jsx) however I still run in to the problem of how to run react-typeahead through the right loader since it's in `node_modules`.

[2015-03-13 01:46] cgarvis commented on #3
Can you make the `main` change suggested by @jordwalke.  Just ran into this when using it with webpack.

[2015-03-13 01:50] cgarvis opened #39 "Does not work with NPM and Webpack"
[code]

[2015-03-13 03:16] fmoo commented on #3
@cgarvis - what change?  `main` is already set to `src/react-typeahead.js`

[2015-03-13 03:21] fmoo commented on #39
@cgarvis - what command are you running to trigger this?  I'm guessing this has something to do with using jsx syntax in a .js file.

[2015-03-13 04:05] fmoo commented on #14
@FoxxMD - sorry, I'm a total noob, I've only been exposed to browserify+reactify so far and have no idea how to get this working with webpack without breaking browserify.

Is there a way to support both?

[2015-03-13 12:43] FoxxMD commented on #14
No worries I'm a beginner with this as well. I'm sure there is a way to support them all. I'll get back to you once I've found a solution.

[2015-03-13 14:46] cgarvis commented on #39
I'm using the `babel-loader` with webpack so I'm using es6 style of requiring modules.

Require in the app:

`import Typeahead from 'react-typeahead';`

My webpack config

[code]

[2015-03-13 14:47] cgarvis commented on #3
Sorry read wrong. I think what you want is `main` set to `dist/react-typeahead`.

[2015-03-13 21:57] raysuelzer commented on #39
I don't think babel handles jsx transformations?

[2015-03-14 21:16] cgarvis commented on #39
It does.  I think the problem is that I don't have it running over the node modules.

On Fri, Mar 13, 2015 at 5:57 PM, Raymond Suelzer <notifications@github.com>
wrote:

[2015-03-15 14:42] raysuelzer commented on #39
The regex for you loader appears to be wrong. I tested it and it doesn't
match .jsx files.  Try this

      { test: /\.js.$/, loaders: ['babel-loader'], exclude: /node_modules/ }

Ray Suelzer
Mobile: (312) 869-2665

On Sat, Mar 14, 2015 at 5:16 PM, Christopher Garvis <
notifications@github.com> wrote:

[2015-03-15 14:43] raysuelzer commented on #39
Sorry, that regex will miss .js files.  Either way, the regex for the loader is the root of the problem here.

[2015-03-15 15:52] cgarvis commented on #39
The issue is more that when the lib is installed via npm, the code is raw jsx.  What do you think of transforming it to straight js when you publish to npm?  The benefit is that I don't have to run babel over the node module dir.

On Sun, Mar 15, 2015 at 10:43 AM, Raymond Suelzer
<notifications@github.com> wrote:

[2015-03-15 17:57] raysuelzer opened #40 "using an array of objects as options"
I've been looking through the source and it doesn't seem it is possible to use an array of objects as the data source.  Am I correct in assuming this?

For example:

[code]

[2015-03-15 18:32] fmoo commented on #39
@cgarvis - definitely think that's the right approach here.  Only two things I'm not sure about:

1. Is it as easy as updating main in the package.js?  Or will that break other things?
2.  I think the compiled version includes dependencies as well.

[2015-03-15 19:09] raysuelzer commented on #40
I was able to implment this fairly easily by allowing options to be passed into fuzzy. https://github.com/mattyork/fuzzy/#use-it

typeahead\index.js
[code]

and then I changed the selector.js render to:
[code]

[code]

I don't have capacity to fork, write tests, and put in a pull request, but it was straight forward to implement.

[2015-03-15 19:11] nemoo commented on #9
I think this is an important feature. The more generic approach is probably to implement this properly, dont you think?:  https://github.com/fmoo/react-typeahead/issues/40

[2015-03-15 19:24] raysuelzer commented on #9
@nemoo  -- I'm not sure I understand your comment.

[2015-03-15 19:35] raysuelzer commented on #40
It might be better to make fuzzy filtering optional, since a large number of us filter on the server side or have more complex filter criteria than string matching.

I'm going to fork the repo and see about implementing the typeahead so that fuzzy is optional, and instead allow a filter function to filter and a map function to be passed. I won't get to it for a few days though.

Filter Function wo

[2015-03-15 20:21] fmoo commented on #40
@raysuelzer that would be awesome. Also if you could check the name= attribute implementation for the tokenizer and make sure it works well with more complex results, that would be awesome

I'm thinking having an api to allow callbacks for getting the string for matching, rendering, and getting the value for complex objects would be a good way to start?

[2015-03-15 20:23] raysuelzer commented on #40
I'm not exactly sure what the name=attribute does.  Set the name HTML attribute?

[2015-03-15 20:36] fmoo commented on #40
If you set the name attribute on the tokenizer it creates <input type=hidden> elements alongside selected tokens.

[2015-03-15 21:11] nemoo commented on #9
Please forget my comment.

[2015-03-16 02:05] fmoo opened #41 "Using <tab> to select with allowCustomValues results in `undefined` selection"
## Repro Steps

1. Load the `typeahead-topcoat.html` example
2. Type `abcd` into the text entry
3. Press `<tab>`

## What should happen:
`abcd` gets selected

## What actually happens:
`undefined` gets selected.

[2015-03-16 02:19] fmoo commented on #41
cc @wookiehangover, @thehuey since you both worked on stuff related to this.

[2015-03-16 02:21] fmoo commented on #41
@thehuey - I also noticed the email address you've got configured for your git commits was a system default and (can't be? or) wasn't associated with your github account.  Can you try adding it (hueyhu@Hueys-Macintosh.local) to github or updating your real email address with `git config --global user.email YOUR_EMAIL` so your commits can get tied to your account?

[2015-03-16 02:22] thehuey commented on #41
Thanks. I'll do that and look at the undefined issue later tonight

On Sunday, March 15, 2015, Peter Ruibal <notifications@github.com> wrote:

[2015-03-16 06:50] fmoo commented on #9
I think I'm going to close this out.  `id` generally isn't something you should be worrying about with react.  If you need to access the state of the components and things, you should be doing this in react with native accessors and refs and things, not by accessing random parts of the DOM with javascript.

`name` is still useful if you want to use react-based components on legacy html forms, and

[2015-03-16 06:50] #9 closed

[2015-03-17 01:04] iDVB opened #42 "How to bold fuzzy search letters in results?"
libraries like these often have a way to bold the characters in the results that are part of the fuzzy search.
Is there a way to get this one to do that?

Example:
![Fuzzy Search](http://goo.gl/FwmcNq)

[2015-03-17 02:12] thehuey commented on #41
This problem actually comes from the Typeahead selection and is unrelated to the Custom Values.  The _onTab function blindly assumes that there is a visible option.

I've fixed the issue and will be submitting a pull request shortly.  Proper tests have been added to verify the issue.

[2015-03-17 03:42] fmoo commented on #42
@iDVB - Oh neat idea!  Do you have any other libraries you like most that I should look at for ideas?

[2015-03-17 04:15] fmoo commented on #41
When I disabled customValues, I couldn't repro the issue.  Thanks for fixing this!

[2015-03-17 04:15] #41 closed

[2015-03-17 04:36] fmoo commented on #21
So selection being null is not a feature, I just hadn't worked through all the use cases when I initially wrote this.

When doing a search or entering new settings, the current behavior works fine, but when you have an existing value, like say when you're updating your account settings, you can't use the typeahead.

The tokenizer *does* have a `defaultSelected` property, which populates `selected`

[2015-03-17 12:02] TryingToImprove commented on #40
A lot like my previous pull-request: https://github.com/fmoo/react-typeahead/pull/30/files

[2015-03-17 12:54] iDVB commented on #42
The most popular one I know of is typeahead.js and is the one in my
screenshot.

On Monday, March 16, 2015, Peter Ruibal <notifications@github.com> wrote:

[2015-03-17 17:01] raysuelzer commented on #40
Didn't see this.  Looks great +1

Ray Suelzer
Mobile: (312) 869-2665

On Tue, Mar 17, 2015 at 8:02 AM, Oliver <notifications@github.com> wrote:

[2015-03-18 10:42] ticaboo commented on #42
As with typeahead js, the whole row should be templateable.

[2015-03-18 17:25] fmoo commented on #42
@ticaboo - what do you mean by templateable?

[2015-03-19 07:22] fmoo commented on #19
If I think I understand correctly, you'd like a callback that fires on the Tokenizer when the text entry changes, to do server side calls to update options?

If so, we should probably rename or add a new prop to both, `onEntryChanged`, that would fire both on keypresses as well as on selections that change the entry.

Thoughts?

[2015-03-21 04:47] fmoo opened #45 "token customClass broke with update to react 0.12"
we replaced a call from copy props to with property expansion which behaves differently for className.

[2015-03-21 04:50] fmoo opened #46 "typeahead-has-selection and selectionMade customClasses"
we should set a custom class on the text entry or typeahead when a selection has been made.

This makes it more obvious when a value has been selected vs just having text in the entry.

[2015-03-21 10:06] #45 closed

[2015-03-27 00:21] thehuey opened #47 "maxVisible is NOT available in Tokenizer"
I expected the Tokenizer to allow a property of maxVisible and to pass that thru to Typeahead.

Let me know if this should be implemented.  Be happy to help.

[2015-03-27 01:40] #47 closed

[2015-03-31 09:56] tcurdt opened #48 "no window on serve side"
For example

  https://github.com/fmoo/react-typeahead/blob/master/src/typeahead/index.js#L5

creates a dependency to `window` prevents server side rendering as is (unless working around it by declaring it as {}).

[2015-03-31 17:19] fmoo commented on #48
Oh nasty.  I think this is some leftover stuff from before we used browserify.

Should be safe to remove.  Want to send a PR?

[2015-04-07 05:59] fmoo commented on #39
iiuc, this has been fixed with #49

[2015-04-07 05:59] #39 closed

[2015-04-07 05:59] fmoo commented on #14
#49 should fix this

[2015-04-07 05:59] #14 closed

[2015-04-09 08:28] soen opened #53 "Use of key/value paired objects in the options list"
Hi,

I would like to provide the tokenizer options prop with an array consisting of key/value paired objects, like: [{name: "MyName", value: "123"}]. However, I only want to display the name property of my object in the tokenizer, would that be possible? That said, I would still like to receive the full object when selecting or removing it from the tokeziner.

Thanks!

[2015-04-09 08:46] fmoo commented on #53
Hey @soen .  @georgwiese was working on a PR (#35) to basically implement this feature.   You could try to pick it up and run with it if you're up for it, but it looks like there are some conflicts.

[2015-04-09 09:26] soen commented on #53
Hey @fmoo - awesome, will look more into it. I can also see that @raysuelzer has started an implementation (https://github.com/fmoo/react-typeahead/issues/40). I'll check how far he is along.

[2015-04-09 09:32] soen opened #54 "Remove option from the options array when added (tokenizer)"
Currently I'm able to search for an option already added, although I cannot add it twice. Is there a solution to hide an option from the options array, once it has been added?

[2015-04-09 13:57] raysuelzer commented on #53
I deferred to letting #35 run it's course, no need to re-invent the wheel.

[2015-04-09 14:22] rhalff commented on #48
Hi, I've run into the same issue.

I've added a pull request  #55 to address it.

It was not safe to just remove the check though, because the generated dist file will be unable to find window.React, I've added a transform to the build script which fixes that issue.

This restores the old behavior, there are probably more complete solutions, but this one seems to work for now.

[2015-04-09 17:11] thehuey commented on #54
Not that I know of currently but sounds like a great feature to put in.  I can't think why it should not be the default behavior.

[2015-04-09 17:18] thehuey commented on #53
As a quick workaround, I used the onTokenAdd callback to call a custom handler.  Basically, map your [ {name: "MyName", value: "123"}, {name:"MyName2", "value":"456"}] to a new array containing only the [ "MyName", "MyName2" ] values and use it for the "options" property.  Then make a function handleTokenAdd: function(tokens) {...} that retrieves the original objects and returns that to your state

[2015-04-09 18:24] fmoo commented on #48
Do you know if this was broken for both webpack and browserify?  Or just the later?

[2015-04-09 18:32] fmoo commented on #54
Yeah, there's actually at least one class state quirk in the UI the current behavior causes.  The current behavior is kind of painful if you're trying to select all values that have a common prefix or something.

[2015-04-09 21:21] rhalff commented on #48
Browserify & webpack will just work they do not need the window.React test.

The examples broke because they rely on window.React.

In short:
  - I've removed all window.React's from the source
  - changed the build script so the dist file *does* generate a version which tests for window.React

[2015-04-10 06:51] #48 closed

[2015-04-10 07:10] fmoo commented on #48
K, this is merged.  Do you need a 1.0.3 release for this?  Or is this mainly for source distributions?

[2015-04-11 07:49] georgwiese commented on #53
Hi all,

I'm not sure whether I'll find time any time soon to work on the PR, unfortunately. Feel free to take this as a base and work on it, if you need the feature soon.

[2015-04-11 14:32] rhalff commented on #48
Thanks, it does need a new release. Projects depending on react-typeahead will then have serverside rendering fixed.

[2015-04-12 09:13] fmoo commented on #48
@rhalff - got it.  I cut a 1.0.3 release with just this change.  Thanks for contributing!

[2015-04-13 02:29] yujinlim opened #56 "TypeError: Cannot read property '__reactAutoBindMap' of undefined"
Hi,

I was trying to use the Typeahead component with the latest v1.0.3 and I got this error,  `TypeError: Cannot read property '__reactAutoBindMap' of undefined`.I believe this have to do with how Typeahead components are compile via `gulp-react`, related [https://github.com/facebook/react/issues/2661](https://github.com/facebook/react/issues/2661).

Thanks

[2015-04-13 19:55] fmoo commented on #56
I'm having trouble reproducing this.  Can you provide more detailed repro steps?

[2015-04-14 08:04] luckyraul opened #57 "Invariant Violation: addComponentAsRefTo"
Hi, I am trying to add your module into my project and got.
```Invariant Violation: addComponentAsRefTo(...)```

Am I doing something wrong?
[code]
app
[code]
SeachBlock
[code]

[2015-04-14 17:09] thehuey commented on #57
I don't think you're doing anything wrong.  Can you take out the <Calendar
/> element?  I did a quick test on react-typeahead 1.0.3 and it worked fine
with the above example without the Calendar element

[2015-04-14 17:44] seansfkelley commented on #56
I was seeing this too. The bug seems to be from mixing 0.12 (which is what I was using) and 0.13 (which is what react-typeahead is using). I fixed mine by upgrading.

Nothing in the [changelog](https://github.com/facebook/react/blob/master/CHANGELOG.md) jumps out at me except perhaps:

[2015-04-14 17:59] seansfkelley commented on #57
I saw this after updating my React version to fix #56. In my case it's because I had two version of React (one from my environment, one from react-typeahead) and they were conflicting. Updating my versions to match and deleting the React module from react-typeahead fixed it up. Originally from [this StackOverflow post](http://stackoverflow.com/questions/28519287/what-does-only-a-reactowner-can-hav

[2015-04-15 05:08] yujinlim commented on #56
I solved it by removing `React` from react-typeahead folder, perhaps you need to use (http://blog.nodejs.org/2013/02/07/peer-dependencies/](peerDependencies)

[2015-04-15 09:32] luckyraul commented on #57
Without Calendar - the same problem

Project React.version = '0.13.1';
Yours = '0.13.1';

[2015-04-15 19:10] seansfkelley commented on #53
I've opened #61 to revive #35 with some further options/convenience methods.

[2015-04-16 09:45] fmoo commented on #56
@yujinlim - Ok I set peerDependencies to >= 0.13.0 and released 1.0.4 (59544173cdd83a1d798ddca4e1432d1f2e52194c).  Let me know if that works for you!

[2015-04-16 09:45] #56 closed

[2015-04-16 11:24] yujinlim commented on #56
@fmoo aite! thanks

[2015-04-16 12:04] #57 closed

[2015-04-17 02:23] yujinlim opened #63 "Possibly adding lib folder to the repository"
Hi,

I was thinking is it possible to add lib folder to the repository. As you know, using npm, we can install packages from the git repo itself and I wanted to use latest version of the component without waiting for the release but currently, if I install it from the git repo, it will not able to run properly as its start up file is reference to `/lib` folder.

check https://github.com/fmoo/react

[2015-04-17 05:00] seansfkelley commented on #63
I was thinking of doing this too, in the context of #62, obnoxious though it is in terms of having to rerun the build and check in compiled resources (though if it's already happening for the dist file...).

[2015-04-28 22:24] franleplant opened #65 "Documentation"
Hi!
    It took me a while to find out how to use the Typeahead component.
Is there a particular reason to display the example as this (current doc):

[code]

instead of this (as I actually got to make it work with other components):

[code]

Thanks!

Fran

[2015-04-28 22:33] franleplant opened #66 "Asynchronously get the option list"
How can implement react-typeahead if the options are brought from the server asynchronously?

Thanks!
Fran

[2015-04-28 23:02] fmoo commented on #65
Nope.  The latter should be preferred.  Please feel free to send a PR updating the docs!

[2015-04-28 23:07] fmoo commented on #66
In you've got a wrapper component, in its render method, just re-render the Typeahead with an updated `options` prop.

If the Typeahead is a top level component, use [`react.render`](https://facebook.github.io/react/docs/top-level-api.html#react.render)

[2015-04-28 23:13] franleplant commented on #66
Yes, that was the way I ended up doing it, thanks a lot for your quick response.
Fran

[2015-04-28 23:18] franleplant commented on #65
Im doing the PR, a question first:

The component form should be wrapped in the `React.render` call right? Just to double check.

Something like this:

[code]

[2015-04-29 16:31] franleplant commented on #65
Created a PR https://github.com/fmoo/react-typeahead/pull/67

[2015-04-29 17:00] #65 closed

[2015-05-05 09:27] #66 closed

[2015-05-06 14:56] cmnstmntmn commented on #53
:+1: is a must. the plugin is incomplete without this

[2015-05-06 20:13] checkhavoc opened #69 "Invariant Violation: addComponentAsRefTo(...)..."
After requiring and adding the Typeahead, I'm running into the following error:

Uncaught Error: Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. This usually means that you're trying to add a ref to a component that doesn't have an owner (that is, was not created inside of another component's `render` method). Try rendering this component inside of a new top-level c

[2015-05-06 22:22] thehuey commented on #69
Check your React version and perhaps do a "npm update". Also check how your TopBar is being rendered.  It needs to be used in a render function of some other container.

[2015-05-07 05:07] Rodeoclash commented on #41
I'm not really a fan of the tab selecting the option. To me, enter should select the highlighted option and tab should either not do anything or abandon the control and move to the next one. This behaviour would then match the behaviour of a native select box in the browser.

[2015-05-07 07:42] fmoo commented on #41
@Rodeoclash - if you want to PR me a diff to add a boolean select-on-tab option (default false), I can pick it up and do a minor release.

[2015-05-07 17:20] checkhavoc commented on #69
Currently using:
React 0.13.2
Node 0.12.2
Npm 2.7.4

Yes, I'm requiring my TopBar in another component (different .jsx file) like so:

`var Topbar = require('./topbar');`
`var App = React.createClass({`
`render: function () {`
`return(`
`<div>`
`<Topbar />`
`</div>`
`)`
`}`
`});`

Still researching, but if anyone discovers a solution, let me know. Thanks!

[2015-05-08 00:07] theverything opened #71 "Dependency on react/addons"
Is there a reason react-typeahead has a dependency on `react/addons`?

I changed the requires in the component files to `react` and ran the tests and everything passed.

Maybe I'm missing something. `¯\_(ツ)_/¯`

[2015-05-08 00:54] fmoo commented on #71
Used to be for classSet, but that's its own module now.

[2015-05-08 00:54] fmoo commented on #71
Feel free to send a PR!

[2015-05-08 17:09] checkhavoc commented on #69
The issue was that the project was not using react/addons. After implementing react/addons, that fixed the problem

[2015-05-08 17:09] #69 closed

[2015-05-08 22:40] franleplant opened #73 "Documentation about `defaultValue` and `allowCustomValues`"
Hi!
    What is the function of these? Are included in the latest release?
I've tested `defaultValue` and it is not working on 1.0.4.

Any quick ideas about them?

Thanks!
Fran

[2015-05-08 22:51] thehuey commented on #73
I think defaultValue serves to have the tokenizer check and display values
that partially match.  It makes the TypeAheadSelector display if you have
matching values in the options array.

On Fri, May 8, 2015 at 3:40 PM, Francisco Guijarro <notifications@github.com

[2015-05-08 23:18] franleplant commented on #73
With string literals it works:

`defaultValue="something"`

[2015-05-08 23:24] franleplant opened #74 "Set a value programatically"
Hi!
    I need to set a value to the Typeahead programmatically and I can't seem to find the correct way, I used `defaultValue` but it does not work, any ideas?

Thanks a lot!
Fran

[2015-05-09 07:02] fmoo commented on #73
Is this.state.someVar set to a string?  That should be working.  Are you getting an error message?

[2015-05-09 07:06] fmoo commented on #74
When you say "set a value" do you mean prefill the text entry with something to open the typeahead?  Or do you mean an actual *selected* value?

[2015-05-09 14:42] franleplant commented on #74
That is actually a good question, I would prefer an actual _selected_ value.

Let me briefly explain the use case:
- Im trying to reuse the same creation form to editing a given entity of my app
- When creating typeahead works like a charm
- When editing I need to preset a selected value to what is save in the editing entity.

Thanks!

[2015-05-09 15:04] franleplant commented on #73
@fmoo no error message, just nothing is displayed on the input inside the typeahead

Originally `someVar` has nothing and after a couple of seconds it gets a string value.

This does not work either:
[code]

[2015-05-11 22:41] franleplant commented on #74
I've discover that with 'defaultValue' I get almost the same behavior that I want, but of course it is just a placeholder and not exactly the content of the input, any ideas?

[2015-05-11 23:09] thehuey commented on #74
Hey Francisco,

I think you need something like 'defaultSelected' that is available on the
tokenizer.  You will probably need to add the same functionality to
Typeahead.  There is a 'selection' state in the getInitialState function.

You can probably make a simple change such as 'selection':
this.props.defaultSelected

-Huey

On Mon, May 11, 2015 at 3:41 PM, Francisco Guijarro <
notifications@gith

[2015-05-11 23:10] franleplant commented on #74
Interesting @thehuey I will take a look.
Thanks! :)

[2015-05-11 23:44] franleplant commented on #74
Hey @fmoo , I needed to change this into the `build-test` script because it was not working well with jsx:

[code]

Should I include this in potential changes I might create a PR upon?

[2015-05-12 08:57] fmoo commented on #74
You can include that in the PR, that's fine.

[2015-05-12 16:41] jbruggem opened #75 "Using with browserify and Babeljs fails when bundling"
Due to babeljs being able to convert JSX to JS, a situation can arise where reactify is not a dependency of the project.

In that case, bundling with browserify will fail due to reactify not being present.

This is due to the entry in `package.json`:
[code]

[2015-05-12 22:59] fmoo commented on #75
Browserify is only listed in devDependencies.

When bundling from a release, you should get the precompiled sources via main and not need babel or browserify.

Maybe I'm missing something?  What command are you running and do you have repro steps?

[2015-05-13 09:09] jbruggem commented on #75
Thanks for your quick reply!

Here's my context:
- I use npm to handle dependencies (including this one)
- I use a gulp task to transform my code to ES5
- I use another gulp task to bundle everything for browser consumption. Dependencies are in one file (libs), my code in another (main).

When compiling 'libs', browserify complains about not being able to load 'reactify'. Since the only reference

[2015-05-19 12:56] #75 closed

[2015-05-19 13:02] jbruggem commented on #75
Sorry; the issue is solved on the repo, since the 'browserify' entry has been removed in package.json (it is not solved in the latest version on NPM).

[2015-05-19 19:15] fmoo commented on #75
@jbruggem - Ahhh, that explains it!  I just published a 1.0.5 to npm, so feel free to use the latest release instead of the development version.

[2015-05-20 10:16] jbruggem opened #76 "Allow react elements as children for TypeaheadOption and Token"
Using objects rather than strings as entries is useful if the options must have custom visualisations (for example: a user with his profile picture, a document title with a description, etc).

It seems react-typeahead works well when the supplied option is a react class rather than a string, except for the warnings because the type of children should be React.PropTypes.string.

A simple fix would

[2015-05-27 11:05] tkacur commented on #21
I bumped into the same problem, having list displayed when defaultValue is provided and matches the options, is there any progress or a suggestion/workaround?

[2015-05-27 17:42] jerryf196 opened #77 "Example for FilterOption Prop"
Would it be possible to have a small example of filterOption function?

Thanks in advance

[2015-05-27 19:11] jerryf196 commented on #40
Is it merged? I absolutely need this.

[2015-05-28 05:16] #71 closed

[2015-06-07 23:57] growlsworth commented on #54
+1. I could see a use case for adding the same value multiple times, but I think the default use case should be to not return results that have already been selected.

[2015-06-13 08:34] fmoo commented on #63
I've been pretty good about publishing changes directly to npm, and would like to try this for a while.  If a feature is on master that you need, please open an issue ASAP.

If it's not working out, feel free to reopen this or a new task and we'll revisit.

[2015-06-13 08:34] #63 closed

[2015-06-13 08:36] fmoo commented on #76
I think 1.0.8 addresses this by adding support for objects as options.  Let me know!

[2015-06-13 08:39] fmoo commented on #73
This is really strange.  Were you using the latest version of react everywhere in your project?

[2015-06-16 20:05] idolize commented on #74
I believe there should be [a **controlled** `value` prop](https://facebook.github.io/react/docs/forms.html#controlled-components) for this component *in addition to* a `defaultValue` (uncontrolled) prop.

As it is right now, there is no good way to make a controlled component using this library, even with a combination of `defaultValue` and `onOptionSelected`, because as long as the value is manag

[2015-06-16 20:06] idolize commented on #74
I would even go so far as to request the support of a `valueLink` prop to use with [ReactLink](https://facebook.github.io/react/docs/two-way-binding-helpers.html) on controlled components, but this is just nice sugar on top of support for a controlled `value` prop so it isn't necessary.

[2015-06-16 20:15] idolize commented on #21
+1 on this.

I got a workaround going with the following:

[code]

This basically just uses a filter function that rejects all values initially, then once the user clicks in the input field it switches back to the built-in filter function (by passing `undefined`) so the dropdown will show again on subsequent typing.

(But official support would obviously be nice to avoid having to create such an u

[2015-06-17 02:23] xizhao opened #81 "Allow custom keying and separate display string from"
I may be overlooking this but with a quick glance:
https://github.com/fmoo/react-typeahead/blob/7702336449eba56708ed7ae3d96c09e555a76dd8/src/typeahead/selector.js#L63-L67

It looks like display string determines key.  I don't think this should be the only behavior -- I propose maybe the value from filterOption or another iterating function to be used as the key.

Also having a react component retu

[2015-06-17 03:25] fmoo commented on #81
Seems like a reasonable request.  I think having a separate (optional) callback/function to get the key for an item would be fine.

making displayOption return a component would be fine, provided we have the necessary callbacks to set all the things that have to be strings to strings.

[2015-06-17 03:26] fmoo commented on #81
Also, just to make sure, you're pointing out desired new functionality, this didn't regress or anything when we pulled in #61, did it?

[2015-06-17 20:03] xizhao commented on #81
@fmoo , not sure, but you can already return a component with displayOption.  The problem is it gets cast to a string for the key and all components become of key `[object Object]`. Solving the former should enable the latter.

[2015-06-18 14:17] geekyme opened #83 "Highlight matched text"
would be better if the typeahead highlights the matched strings in the suggestions list

[2015-06-18 16:29] danielsoner commented on #73
Hi, I use React 0.14.0-alpha3 and I have the same exact problem.

[2015-06-20 09:01] vincenzo-antolini-os opened #84 "Remote data support"
Hi,
is remote data supported?

Thanks in advance
V

[2015-06-22 15:22] barbalex opened #85 "how to get selection with down arrow key working"
First of all: thanks for this great tool. In my App I load 50'000 options and react-typeahead works BLAZING fast!

Also: Sorry for asking this here. There is (almost) no mention of react-bootstrap on stackoverflow yet.

I want the user to be able to choose an option (after having entered some letters) by navigating down with the down arrow key, then choosing it with the Enter key.

This works in t

[2015-06-22 19:24] barbalex opened #86 "how to empty typeahead after click on "X" symbol"
I'm new to React and new to react-typeahead. So please excuse if the answer is obvious.

I added an "X" symbol overlaying on the right side of the typeahead field. When the user clicks on it, the typeahead input should empty. If a list of options was shown, it should close.

How would this be done?

[2015-06-25 11:15] jbruggem commented on #76
Hi fmoo,

It most probably solves the problem. I ended up integrating twitter-typeahead in the mean time but I'll definitely come back to this project next time I need this kind of feature!

I think we can close this for now.

[2015-06-25 11:15] #76 closed

[2015-06-28 03:47] hackingbeauty opened #88 "onKeyDown Does Not Work"
Hey there...

I'm trying to get the onKeyDown event to fire.  My component looks like this:

[code]

The onKeyDown event in the above example is not firing.  What am I doing wrong?  Thanks!

[2015-07-03 10:15] lPadier opened #91 "Default classes conflict with several CSS Libraries"
It is only possible to add classes to elements, and it is not possible to remove the default classNames.
Should a prop allow default classNames to be removed?

[2015-07-04 01:12] fmoo commented on #91
Is there a more compatible way to define default classes without getting rid of them entirely?

A prop to remove classes by default could be good.

[2015-07-04 04:29] fmoo commented on #88
Hey @hackingbeauty , I just published 1.0.9 which contains @growlsworth's PR #92 which may address your issue.

Let me know.

[2015-07-04 04:31] fmoo commented on #85
That's really weird, I could have sworn this behavior was previously implemented.

[2015-07-04 04:32] fmoo commented on #86
I think this needs a new exposed component function to be implemented for you to call into.  Would something like that work for you?

[2015-07-06 08:57] barbalex commented on #86
I think it would.

I say "think" because I haven't managed to get the existing exposed component function (typeahead.focus) to work yet. I am probably just to much of a noob. The example that react provides (and the typeahead docs link to) is a lot of code doing a lot of things and I probably didn't get all of that yet...

[2015-07-06 09:01] barbalex commented on #85
well, be warned, I am a bad noob so it's probably just a dumb mistake of mine

[2015-07-06 09:18] barbalex opened #95 "how to focus the typeahead"
here comes noob's next question ;-)

I am instantiating inside render like this:

    return (
      <div id='filter'>
        <div style={{position: 'relative'}}>
          <Glyphicon
            glyph={'remove'}
            style={removeGlyphStyle}
            onClick={this.onClickEmptyFilterField}
          />
          <Typeahead
            ref={'typeahead'}
            placeholder={'filtern'

[2015-07-06 09:25] barbalex commented on #95
uups, I updated from the previous version and it now works

thanks!

[2015-07-06 09:25] #95 closed

[2015-07-06 09:46] barbalex opened #96 "how to set inputProps"
Noob alarm: this issue is probably only due to my not understanding React or react-typeahead yet. If so, sorry for pestering you issues list.

I am trying to control the content of the typeahead input, for instance:

- empty it when a user clicks on an "X" symbol (see other issue: https://github.com/fmoo/react-typeahead/issues/86)
- empty it when a user navigates to a different option using the na

[2015-07-06 10:31] lPadier commented on #91
After checking, it appears I was confused. while the docs for Bootstrap 2 do use `.typeahead` in an example, it seems that there is no typeahead class by default.

However, in a large project I'm working on, the typeahead class is already used.

A prop such as defaultClassNames could work.

As far as how it could work in the library, it could be set to have a default value of true, and update clas

[2015-07-06 10:53] lPadier opened #98 "Replace gulp-react with gulp-babel"
Facebook is deprecating jstransform and react tools in favor of babel:

https://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

[2015-07-16 14:31] zlangbert commented on #21
+1

[2015-07-16 15:25] miu-zsolt commented on #96
I can confirm, that passing values to inputProps doesn't work for me. Could you please fix it?

[2015-07-16 20:10] fmoo commented on #21
#102 may address this by allowing you to set the `value` of the typeahead directly (instead of the defaultValue for the text entry)

[2015-07-17 02:56] fmoo commented on #21
Hi all, can you re-test with the `value` prop on the 1.1.1 release and let us know?

[2015-07-21 19:24] zsherman opened #104 "onSelect also triggers onBlur"
This makes it difficult to properly handle result selection in a non-hacky way.

[2015-07-21 19:45] NerdCowboy commented on #85
It's not working for me either. I'm a noob as well, so possible I'm also doing something wrong, but I've tried to barebone it down as much as possible and I can't get it to work.

[2015-07-24 14:42] rgoldfinger commented on #85
I had the same problem, but realized that it is working. It seems that it applies a `hover` class to the selected `<li>`, but I wasn't providing any styling for `hover`. Adding a `background-color` to `hover` fixed it for me.

[2015-07-24 17:16] NerdCowboy commented on #85
Thanks @rgoldfinger, that worked for me :+1:

[2015-07-24 17:43] fmoo commented on #85
Anything recommendations for things that might work better than just adding a class?  Either in code or in JavaScript?

Maybe we should be setting tabindex="0" to at least make it tabbable?

[2015-07-24 18:12] NerdCowboy commented on #85
I think the way it works is good, I just didn't see any documentation on it, so I was confused. If you look at how Google does their auto-suggest, they also just add a class and fill the input when you press the `enter` key.

I'm not sure what you mean by making it tabbable though. It feels right to me if you have an item "hovered" to allow a user to hit `enter` or `tab` to select the item as it's

[2015-07-24 18:17] ntdb commented on #20
+1 for selecting on enter when an exact match exists.

[2015-07-28 08:58] jproger commented on #73
The same here with React 0.13.3.
A basic workaround that partially works for me :
<Input type='text' id='ShortName' placeholder='Enter short name' defaultValue={`${this.state.ShortName}`} />
But it does not refresh the value when
setState({ShortName: 'toto'}) is called in success of an ajax call.
Any idea ?

[2015-07-28 10:07] barbalex commented on #85
yep, adding a class for .hover works for me too

What seems unexpected behaviour though is that the second time I filter, the .hover class is initially set at the item that is at the position where the last item containing it was located. I'd expect it to initially be included at the first item, like it is when you filter for the first time.

Anyway, this is no bug and the main issue seems solved

[2015-07-28 10:07] #85 closed

[2015-07-28 10:22] barbalex opened #106 "error since update from 1.1.1 to 1.1.2"
I now get this message in the console:

    Warning: Failed propType: Invalid prop `customListComponent` supplied to `Typeahead`, expected a ReactElement. Check the render method of `Filter`

I'm rendering like this:

    return (
      <div id='filter'>
        <div style={{position: 'relative'}}>
          <Glyphicon
            glyph={'remove'}
            style={removeGlyphStyle}
            o

[2015-07-28 14:52] leecrossley commented on #106
I'm also seeing this warning

[2015-07-28 15:51] fmoo commented on #85
Can you file a separate issue for the .hover class position not resetting correctly?  That's definitely a bug.

[2015-07-28 15:53] fmoo commented on #106
@lPadier - this is related to your changes, any particular guidance on how to address this? (feel free to send me a PR).

[2015-07-28 22:07] barbalex opened #107 ".hover class position not resetting correctly"
The first time you filter, there is no .hover class, until you press the down key. After you press the down arrow key once, the .hover class is positioned at the top li item.

Now hit the down arrow key three times > the .hover class is now at the fourth item. Just as expected.

Now empty the filter field and begin filtering again. Even while you enter characters (before hitting an arrow key) the

[2015-07-28 22:08] barbalex commented on #85
done: https://github.com/fmoo/react-typeahead/issues/107

[2015-07-29 03:04] growlsworth commented on #106
same

[2015-07-29 09:29] alanrubin commented on #106
Same here

[2015-07-29 10:28] danieljuhl opened #108 "Allow value to be changed from higher level"
It seems that `value` is only used on component construction, and not respected if changed afterwards.

I would like to be able to change the value / default value of the component based on an external value.

[2015-07-29 13:54] lPadier commented on #106
I've just checked the source for ReactTransitionGroup that takes a component as a Prop, and they use React.PropTypes.any

https://github.com/facebook/react/blob/master/src/addons/transitions/ReactTransitionGroup.js

[2015-07-29 13:55] #91 closed

[2015-07-30 04:48] #106 closed

[2015-07-30 05:59] fmoo commented on #106
Should be fixed in 1.1.3; please retest.

[2015-07-30 17:44] magalhas opened #110 "tab is always prevented"
I think the behaviour behind the TAB key is not good as it is... When I press tab the component picks the first option, which is nice, but if I press tab again I should go to the next focusable element in HTML. Moreover, I think this should happen when you hit TAB the first time.

What are your thoughts?

[2015-07-30 19:44] barbalex commented on #106
works, thanks a lot

[2015-07-31 09:45] leecrossley commented on #106
I can confirm this fix works, thanks.

[2015-08-05 15:04] poeticninja opened #113 "Option to show list when input is focused?"
Thanks for the great work on this project! I am wanting to show the list of options when a user focuses/selects the input field. This was not obvious on how to achieve this. Am I missing something or is this a feature that is not available?

Thanks!

[2015-08-05 15:19] emergentcypher opened #114 "Default option from list of objects?"
If I provide an array of objects to Typeahead, like this:

    var options = [{"id": "123", "name": "Hello"}, {"id": "456", "name": "world!"}];

How can I select a default/initial option when the options are an array of objects? If I provide the id as a defaultValue, the Typeahead field will render the id as text, but what I want to appear is the object's name as specified in "displayOption". I ca

[2015-08-07 11:55] leecrossley opened #115 "Should hide `ref=sel` on blur by default"
Otherwise if you click off the typeahead, the list remains visible

[2015-08-08 00:51] shinta5150 commented on #74
I'd like the ability to set the value programmatically too

[2015-08-10 10:42] yurynix commented on #108
I had a similar scenario where I would render typehead with different value when user clicked on something, so I've made the following modification that seems to work for me:
https://github.com/yurynix/react-typeahead/commit/1a963818adeded7d1400e44fd521af2df4c246db

[2015-08-10 10:52] yurynix commented on #74
Hi,
What you guys think about something like that: https://github.com/yurynix/react-typeahead/commit/1a963818adeded7d1400e44fd521af2df4c246db

It works for my scenario, I update the value in the parent component when user clicks on some buttons.
I render Typeahead like this:
[code]

[2015-08-11 13:06] nicoecheza opened #116 "Reset input value onOptionSelected"
Hi,
I'm trying to reset the value of the input after an option is selected. Is there an easy way to solve this?
thanks!

[2015-08-12 20:44] Semigradsky commented on #116
Looks like `setEntryText` method can be used for this purpose.
[code]

[2015-08-19 10:21] web2style commented on #86
Please, add this feature! +1

[2015-08-19 14:27] nicoecheza commented on #116
Thanks, this worked.

[2015-08-19 14:27] #116 closed

[2015-08-20 13:37] joeywisse opened #118 "Custom value"
I've been looking for a way to just type wildly and hit enter to add custom tokens which are not supplied as options. Is this currently possible?

And thank you for this module.

[2015-08-20 13:52] joeywisse commented on #118
Found the answer.

add
allowCustomValues={1}

Thank you

[2015-08-20 16:08] fmoo commented on #118
@joeywisse - apologies for not getting back to you sooner.

Does that API work well for you, or does it need any tweaks?
Was there anything in the documentation we could have done better to make this more discoverable?

[2015-08-21 06:45] joeywisse commented on #118
Working on a React project, this module fits in nicely. After trying with bootstrap-tokenizer this was really much easier to get started. Currently still working with the module to get my product finished, i'll let you know when I run into problems. Thank you.

Yesterday I searched the module code to find out about this functionality.

I didn't find "allowCustomValues" on this git's front-page. It

[2015-08-21 09:34] web2style commented on #77
+1 Need this example too.

[2015-08-21 11:03] web2style opened #119 "Sort results by relevance, not alphabetical order"
Is there a way to sort results by relevance.

For example, if or options list is `['Canada', 'Abacan', 'Bolcan']`. I type "Can" and see:
[code]
But "Canada" is the most relevant result, because it starts with our inputValue.

I have a sort function to handle it:

[code]

How can I implement it?

[2015-08-22 13:09] barbalex commented on #108
@yurynix did you make a pull request? I need this feature too. For instance to empty the input when the user clicks on an x symbol at it's right side

[2015-08-22 13:19] barbalex opened #120 "add options instead of replacing all?"
Maybe this is already possible but I don't get it:

I populate my component with up to 70'000 options, step by step, depending on what groups of data the user decides to load.

If the user decides to load an extra 10'000 options, it would be nice if my app could just add them to the existing.

As it is now, I replace all options which means my app has to fetch the already included (up to 60'000) o

[2015-08-23 18:40] jibwa commented on #74
This worked very well in my case. Thanks @yurynix

[2015-08-24 06:35] yurynix commented on #108
@barbalex
I don't mind making a pull request, but I'm looking for getting some feedback first,
Since I'm not yet very familiar with TypeAhead's inner stuff.

Same issue discussed here: https://github.com/fmoo/react-typeahead/issues/74

[2015-08-24 20:40] yurynix commented on #74
@jibwa You're welcome =)

any1 else have any comments or should I proceed to pull req?

[2015-08-25 20:53] csk157 commented on #96
`value` prop is accepted by TypeaheadComponent itself

[code]

[2015-08-25 21:38] barbalex commented on #96
that only works on first load for me

2015-08-25 22:53 GMT+02:00 Ceslovas Lopan <notifications@github.com>:

[2015-08-27 12:40] connorjburton opened #123 "Show the selected option"
Currently, if you select an option it disappears from the list. It would be useful for our project to be able to keep that chosen option shown in the list and add an extra class so we can style it in a "selected" way.

Is there a way to do this?

[2015-09-01 18:40] growlsworth opened #124 "Performance when receiving same props"
Hey @fmoo,

There's a significant performance issue. I have a parent component to the tokenizer which re-renders frequently. In my situation, it is improbable to change this parent component to update less frequently. My re-render is extremely fast and usually doesn't update the dom. I've tested it when I re-render my component every keydown and there is no performance slowdown with the tokenizer

[2015-09-01 19:27] thehuey commented on #124
Do a performance test with option 1 and see if that resolves your issue. If
so, I think that makes sense to not attempt a match on empty entry. You
could get a bit fancy and make the short circuit check a function
defaulting to empty entry.

On Tuesday, September 1, 2015, Thomas Shafer <notifications@github.com>
wrote:

[2015-09-01 19:31] growlsworth commented on #124
This is what I've got so far: https://github.com/amplii/react-typeahead/commit/4bd61ddb766eef26bfd207faa8e865fd2d7f6a06

[2015-09-07 13:48] yasenov-casafari opened #126 "defaultValue doesn't update after re-render"
I have Typeahed object with defaultValue prop. In componentDidMount I receive new value and call setState but defaultValue doesn't change.

[2015-09-08 14:46] tax opened #127 "How to access the value of the component"
Really stupid question what is the correct way to access the value of the input text after a value is set by the user?

[code]

[2015-09-08 18:17] tax commented on #127
One solution I found:
[code]

[2015-09-09 05:32] codewithcheese commented on #127
I trying to figure that also, you method seems the most logical so far. except I would write it like this:
`this.refs.typeahead.refs.entry.getDOMNode().value`

[2015-09-09 22:22] Mr-Wallet opened #128 "Option search is being run one change behind"
When construction a Typeahead with an array of strings as the object, each change brings up a list of options reflecting the input node's value _before_ the change.
[code]

Based on stepping through, it seems to be because `componentWillReceiveProps` is using `this.state.entryValue` to calculate the options, but the `setState({entryValue})` in `_onTextEntryUpdated` hasn't yet been put into `this.s

[2015-09-10 19:19] sriprabha commented on #84
I have the same question. I don't see anything mentioned about remote data support in the docs. Thanks

[2015-09-11 01:03] thehuey commented on #84
Wouldn't you simply have a parent element which deals with the remote data
and pass it as a property to the type ahead? Not sure if I am missing a
more specific use case here.

On Thursday, September 10, 2015, Sriprabha <notifications@github.com> wrote:

[2015-09-11 04:03] sriprabha commented on #84
this is about providing the ability to fetch data from a remote source and filter it based on each character entered in the typeahead, that is, and display the filtered results in the dropdown for the typeahead.

[2015-09-11 12:22] web2style opened #129 "How to close options dropdown?"
I want to close options dropdown programmatically. How ca I achieve this? Smth like (focus)[https://github.com/fmoo/react-typeahead#typeaheadfocus] would be great.

[2015-09-30 05:55] RobbieClarken commented on #108
@yurynix Your proposed change would be very useful for me too. I wish I could provide feedback but I'm not familiar enough with the module either.

[2015-09-30 17:50] mattvv commented on #128
Also having this issue.

[2015-09-30 18:31] mattvv commented on #128
This seems to work fine on tokenizer though.

[2015-09-30 18:41] mattvv opened #134 "Mid sentence autocomplete."
Hey guys,

Trying  to get a simple autocoplete going, and it's working well so far for results at the start of a sentence.
For example:

List: [ @matt, @all, @hello ]

If I type "@" then the whole list appears, if I type '@m' then @matt appears.
However If I type 'Hello @'. I want to display the whole list, to replace that last @. Like an autocomplete. Is there any way to enable this functionality

[2015-09-30 20:08] thehuey commented on #134
You're asking for a "Select All Matching" functionality?  You'd have to add
that as a custom option to the top and have a function to populate all
matches.

On Wed, Sep 30, 2015 at 11:41 AM, Matt Van <notifications@github.com> wrote:

[2015-10-01 01:55] mattvv commented on #134
Basically I want the same @ functionality in this comment box. Whenever i'm in the textbox here and you type @ it populates a typehead, like @thehuey .

Currently with react typeahead it's only doing it if the @ is the first letter in the textarea

[2015-10-01 08:03] fmoo commented on #134
Hey Matt.  It sounds like you want something more like how mentions work on Facebook and Twitter.

This typeahead is built as a general solution to support a single value typeahead entry (Typeahead) or a multi-value typeahead entry (Tokenizer).  Neither really supports intermixing tokens with text.

You could probably build what you want with pieces of this library, but this isn't functionality we

[2015-10-03 00:48] aganglada commented on #96
I'm loading Typeahead with inputProps in a modal and it doesn't look like working.

[code]

Do I miss something?

FYI @fmoo

[2015-10-06 16:41] mattvv commented on #134
Thanks guys, No worries!

[2015-10-06 16:41] #134 closed

[2015-10-07 21:11] growlsworth commented on #124
Issues resolved in #125.

[2015-10-07 21:11] #124 closed

[2015-10-08 12:08] mCzolko commented on #126
same problem here

[2015-10-08 12:08] mCzolko commented on #114
did you found solution?

[2015-10-09 18:04] smith-kyle commented on #128
I'm experiencing this as well

[2015-10-09 18:23] smith-kyle commented on #108
#133 Seems to solve a niche problem. If `value` could instead be modified directly through the props then you could do all this from the `Typeahead` parent component.

[2015-10-10 08:04] yurynix commented on #108
@smith-kyle
Typeahead already has all the mechanics: finding ``object`` by ``value``, converting ``object`` to display ``value``, so we might as well let ``Typeahead`` handling choosing the right ``object`` by ``value`` at props.

As you can see from the commit, the code change is very minor.

[2015-10-10 08:20] danieljuhl commented on #108
@yurynix I've been testing you change, which works great in our setup, but I made two minor changes. First I allowed to clear the typeahead by passing a falsy value to `Typeahead`, furthermore I modified the selection, so that it does not check for only one result, but instead it checks if the first option is equal to the input value. The reason for this is that even when the input value is an exa

[2015-10-10 08:24] yurynix commented on #108
@danieljuhl Sounds grate, can you provide a link for your changes?

[2015-10-10 08:46] danieljuhl commented on #108
@yurynix https://github.com/kodyl/react-typeahead/tree/react-0.14, but please notice that I also made changes to avoid errors and warnings when used with `react@0.14.0` - it was actually the main goal

[2015-10-12 11:50] yurynix commented on #108
@danieljuhl  Thanks!

[2015-10-13 17:27] bobiblazeski opened #137 "React v0.14.0 Do not access .getDOMNode()"
I just switched to React 0.14.0 and I'm getting below warning:
ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `Typeahead`.

componentWillMount
  this.onCity = function(city){
      if (this.props.action) {
        Dispatcher.dispatch(this.props.action, {
          country: ReactDOM.findDOMNode(this.refs.country).value,

[2015-10-14 06:14] fmr commented on #137
Hi @bobiblazeski,

What happens if you change:

[code]

to:
[code]
?

[2015-10-14 09:03] bobiblazeski commented on #137
The error stays the same this.refs.country is  select that doesn't have to do anything with react-typeahead.

Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by `Typeahead`

Here's complete component

[code]

The problem is in v0.14.0 not liking something that Typeahead  is doing,  I had the same warning with several

[2015-10-15 10:04] geekyme commented on #137
is there an npm release for this change? Last change detected here is one month ago.

[2015-10-15 10:08] bobiblazeski commented on #137
Sure
https://www.npmjs.com/package/react
![react](https://cloud.githubusercontent.com/assets/2140890/10510803/67d5f902-7335-11e5-9f01-5c8bfaa1e386.png)

[2015-10-15 10:12] geekyme commented on #137
.... react-typeahead?

[2015-10-15 15:30] fmoo commented on #137
I don't think anyone has submitted a PR to fix this yet, so there's no update for react-typeahead with the fix.

[2015-10-16 21:16] thetimbanks commented on #137
@fmoo Doesn't this PR take care of this ticket? https://github.com/fmoo/react-typeahead/pull/136

[2015-10-18 16:43] fmoo commented on #137
Wow, I totally missed that PR.

Do you have any thoughts on bumping minor version for this so I can do a release with this and #138?

Are there any other PRs you'd like to have in the next release as well?

[2015-10-19 13:34] thetimbanks commented on #137
@fmoo I would say you could release this as 1.1.5 and the other as 1.2 since it has breaking changes in it.

[2015-10-19 21:45] juanmnl commented on #127
Got the value of the input by binding the onChange event:

[code]
And then on the parent component:

[code]

Hope this helps :smile:

[2015-10-19 23:33] juanmnl opened #139 "Get options array from TypeaheadSelector?"
Is there a simple way of getting the options array from the TypeaheadSelector sub-component (the results that print in the dropdown), so i can use them and filter another view?
*Sure I'm missing something on the docs*

[2015-10-20 00:00] juanmnl commented on #128
I was experiencing this until i removed `defaultValue=""` from the component props.

[2015-10-21 17:17] ankitdesai commented on #73
having this same issue:

`defaultValue={selectedCity}` doesn't work for me but `defaultValue="asdf"` does. also weird is that `placeholder={selectedCity}` works correctly but with bindings `defaultValue` (and `value`) do not

any ideas on how to fix this?

[2015-10-22 19:12] clalimarmo commented on #110
I'd like to see either of these suggestions implemented.

[2015-10-22 19:26] magalhas commented on #110
I've got this implemented in #111 and I'm using it as of now.

[2015-10-22 19:57] SylarRuby commented on #137
Just did an update and getting same warnings. Any news on this?

[2015-10-23 16:35] fmoo commented on #137
@SylarRuby  - I just pushed 1.1.5 to npm.  If you update, the new react warnings from 0.14.0 will go away.

[2015-10-23 16:35] #137 closed

[2015-10-23 19:21] bobiblazeski commented on #137
Many thanks.

[2015-10-24 17:37] growlsworth commented on #126
You may be falling for https://facebook.github.io/react/tips/props-in-getInitialState-as-anti-pattern.html . There's an unofficial API for setting the text: https://github.com/fmoo/react-typeahead/blob/master/src/typeahead/index.js#L108 I don't exactly know how it works in your case for componentDidMount, but for componentDidUpdate, something like this should work:

[code]

I'd love a readme updat

[2015-10-25 05:17] SylarRuby commented on #137
@fmoo Thanks. Solved.

[2015-10-29 17:03] growlsworth commented on #139
Hey @juanmnl , there is not currently an official way. It's stored in `state.visible`. Technically it's available via `this.refs.Typeahead.state.visible`, assuming your component has ref Typeahead. But I wouldn't recommend that. I'd accept a pull request that exposes `state.visible` in a [component function](https://facebook.github.io/react/tips/expose-component-functions.html).

[2015-11-05 08:04] rogeriotaques opened #141 "Tokenizer custom values send hidden inputs as "[Object object]""
It would be a lot useful if there is an option to customise the token output.

Now, whenever you select an item from result list, it creates a token tag which has a hidden input field. But, when using an option list of objects, this hidden field has its value set to [Object object].

Would be great if either we could customise the token output, adding or removing elements inside created tag, as we

[2015-11-10 13:14] barbalex commented on #113
I have the same question

[2015-11-24 16:50] ritesh8467 opened #143 "Reset or change Typeahead Value."
Is there any callback where i can change the Input value of Typeahead?

Case: These is a search bar and a reset button. I want to reset the value of search bar on clicking reset button. So how can i approach this case.

[2015-11-30 17:17] lipenco commented on #143
:+1:

[2015-12-01 21:56] vagnervjs commented on #113
+1

[2015-12-04 22:56] lgiraudel commented on #127
You can retrieve the value through the component state:

[code]

[2015-12-04 23:17] thehuey commented on #127
+1 Use the state.entryValue.

Don't make your code brittle by relying on underlying DOM structure

On Fri, Dec 4, 2015 at 2:56 PM, Loïc Giraudel <notifications@github.com>
wrote:

[2015-12-04 23:34] lgiraudel commented on #143
You can force the state of the Typeahead:

[code]

[2015-12-09 06:53] arahansen opened #148 "How do I build a new dist/react-typeahead.js?"
I tried building a new dist/react-typeahead.js with `npm build` but that didn't seem to drop any file into the dist folder. Is there something I'm missing here?

[2015-12-09 10:37] alexjg commented on #128
@fmoo Is there any chance you could take a look at the above PR which fixes this issues?

[2015-12-09 22:59] HeyHugo commented on #148
I think what you want to do is ```npm run build```

[2015-12-12 23:33] arahansen commented on #148
Ah, that's the one I was looking for. Thanks!

[2015-12-12 23:33] #148 closed

[2015-12-14 16:53] benrlodge opened #151 "defaultValue not selecting one value if other fuzzy matches exist"
When I use `defaultValue` if there is a fuzzy match, it does not select the matching value, but instead shows the options. I may be able to look into submitting a PR if this isn't already being worked on.

[2015-12-14 17:05] benrlodge commented on #151
actually, i'm seeing this even if I have a match

[2015-12-15 14:36] cganas commented on #143
:+1:

[2015-12-15 17:47] emadb commented on #84
@vincenzo-antolini-os did you managed to use this component with remote data?
It would be useful to have an example on the readme...the scenario is quite usual.

thx

[2015-12-17 19:24] benrlodge commented on #151
@fmoo not sure if it's the best approach, but I have something working where I check if `this.props.defaultValue` exists as well as a `hasRendered` flag (could be a better word for this...) which will be false on first run, then flip it true when the user first starts to interact with the input box again at `_onTextEntryUpdated`.

[code]

[code]

[2015-12-18 21:42] barbalex commented on #143
nice. Would be worth mentioning in the readme

[2015-12-18 21:44] barbalex commented on #107
seems to me this is solved

[2015-12-18 21:44] #107 closed

[2015-12-18 21:52] barbalex commented on #96
I found this solution to empty the typeahead in a different issue:

    this.refs.typeahead.setState({
      entryValue: '',
      selection: null,
      selectionIndex: null,
      visible: []
    })

[2015-12-18 21:52] #96 closed

[2015-12-23 08:15] Sacret commented on #104
@zsherman I faced the same issue...

[2015-12-26 17:11] reason-bv commented on #143
I went with replacing this method with a one-line change so that it definitely always pays attention to value when value is reset:

[code]

You can do this with refs in the component including the typeahead. Somewhere in render():

[code]

Then in componentDidMount():

[code]

[2015-12-28 13:04] ragebiswas commented on #151
+1 for this. @benrlodge is there any way without modifying the source code? :(

[2015-12-28 14:03] benrlodge commented on #151
'fraid not from what I can tell. I'm working off a forked version in the mean time.

[2015-12-28 14:16] henrikra commented on #129
I would like to know this one too! :)

[2015-12-28 14:32] henrikra opened #154 "How to blur input?"
Im doing suggestive search and I would like to blur out the focus from input field when I submit the form. Aka not selecting item from typeahead list.

[2015-12-28 14:34] henrikra commented on #154
I managed to solve it already :D. I just added this to the onKeyUp event: $(event.target).blur();

[2015-12-28 18:10] benrlodge commented on #151
This could be a separate issue - but related - I'm also realizing it would be helpful to have some kind of `currentValue` option that can be accessed at `componentWillReceiveProps`, as I'm trying to implement routing with default values that would be pre-selected based on the routers params.

[2016-01-04 20:24] chrispeterson3 opened #155 "How to use props.customListComponent"
It seems that the default functionality breaks when you use `props.customListComponent`. Is there any custom configuration that has to be done in order to get this to work?

For instance, when you type a value in the input and press the `TAB` key, there is an error, arrow keys don't work, and you can't click on a selection.

![screen shot 2016-01-04 at 2 22 33 pm](https://cloud.githubusercontent.c

[2016-01-13 17:20] mattberridge commented on #129
Me too!

[2016-01-25 17:39] ApurvaB opened #157 "Does this provide remote data feature similar as that of bloodhound ?"
Hi,
 Does react-typeahead provide provide remote data feature similar as that of bloodhound ?

[2016-01-28 14:52] joeywisse commented on #77
https://github.com/fmoo/react-typeahead/blob/master/examples/typeahead-custom-options.html

[2016-01-28 15:03] joeywisse commented on #77
https://github.com/fmoo/react-typeahead/blob/master/examples/typeahead-custom-options.html

might help

[2016-02-08 16:07] chandraakella29 opened #158 "onKeyUp doesn't return all the keys pressed"
Hey,
I am trying to capture the escape key onKeyUp() which returns an event, but it doesn't have anything for an escape key. It does return the key pressed for the normal keys from a to z.
I am using your typeahead and would like to clear the typeahead on user pressing escape.

Any follow-up would be greatly appreciated.
Thanks.

[2016-02-08 16:08] #158 closed

[2016-02-10 12:55] giacomorebonato commented on #84
I managed to bind dynamic remote data attaching to the onKeyUp event
[code]

[2016-02-14 18:53] jforaker commented on #6
still broken

[2016-02-17 00:06] birge commented on #143
Note that in the source code it says that entryValue should change name in the future and your code will explode :bomb:

[2016-03-03 09:46] igoldny opened #159 "How can i use fork"
I forked this project to make some changes but before i send you working pull request i want to use it in my project.
But when i add to package.json "react-typeahead": "git@repo" i get error from webpack that lib is missing, now i see that lib created on npm publish which not been called for my fork.
what am i doing wrong and how can i make it work?
thnx

[2016-03-03 17:19] waatltd opened #160 "How to change input type to email?"
Hello,

I'm using client side validation to check if proper email is added by using type="email" attribute on the input element.
How can I change that and if not, than could this be added to the component as props?

[2016-03-04 00:40] kjs3 commented on #119
:+1:

[2016-03-07 18:22] fmoo commented on #159
Hi @igoldny - did you figure it out?  I think you have to run `npm run lib` before calling `npm install /path/to/react-typeahead-git/` from the repository where you want to use it.

[2016-03-07 21:19] igoldny commented on #159
No I didn't, I just removed lib from gitignore which I see that most of the forks here did.
I don't want to add any extra scripts to my work flow nor my CI servers.

[2016-03-08 08:57] sergio11 opened #161 "How to Pass buttonAfter react-bootstrap property"
Hi there,

How can I pass the buttonAfter prop to Input?.

I can't make it across the inputProps.

Here is the Input that I want to get

`<Input type="text" buttonAfter={<Button type='submit'><Glyphicon glyph="search" /></Button>} />`

thanks and greeting

[2016-03-08 18:14] fmoo commented on #161
I don't think there's a good way to do this.  If it's just the Glyphicon you need, you can define a custom `displayOption` as a function on your typeahead to inject the glyph.

[2016-03-09 14:24] nosilleg opened #162 "Visible list is populated when it should be empty"
I discovered that if I hit start typing a string that has multiple matches and then hit tab very quickly I can get two tokens to render instead of the expected one.

I output some console log to trace this and I've annotated the results below.

![react-typeahead_debug_console](https://cloud.githubusercontent.com/assets/900365/13638032/4e0110f8-e602-11e5-80d8-d8a186b49b77.png)

PR incoming.

[2016-03-09 17:52] #162 closed

[2016-03-09 17:54] fmoo commented on #162
Fixed in 1.1.6

[2016-03-09 23:36] sergio11 commented on #161
Hi, thanks for response.

But, I don´t understand how make this with displayOptions.

here is the code. I want inject the button into Typehead like buttonAfter. Because the input does not look good on mobile

`
<form className="form-horizontal" onSubmit={this.handleSubmit.bind(this)}>
    <Typeahead
           className="form-group"
           placeholder={this.props.totalCharacters + ' characters

[2016-03-10 21:06] jeffsaracco opened #165 "Version 1.1.6 breaks the typeahead when fetching options via API"
It seems that ed49656 (and subsequently version 1.1.6) breaks this for me when doing an ajax search. The results seem to flash there when key up is fired then disappear again. Hard coding `1.1.5` fixes it for us just thought you should be aware.

This is a react app with flux that, on key up, fetches the next set of options from an API and re-renders the react component containing the typeahead us

[2016-03-10 21:59] fmoo commented on #165
@jeffsaracco - Ack; I think if we had better test cases, we could catch these types of issues when people propose new functionality.

Any idea on how to fix the race condition without breaking support for remote fetches?

cc @nosilleg

[2016-03-10 22:50] nosilleg commented on #165
@jeffsaracco Do you have some code that you can show us?

So I understand.  You're setting the `onKeyUp` prop to a function that does an ajax request which then sets a new value for the `options` prop?

I'm happy to try and debug and create some test cases if I can be sure that they will match your usage.

[2016-03-11 12:55] jeffsaracco commented on #165
@nosilleg here is the part of our code... it's pretty straightforward, but I'll also try creating a jsbin or something so that you can see what I mean...

[code]

[2016-03-11 17:30] nosilleg commented on #165
@jeffsaracco I've tried modifying my setup to approximate the above, but I can't get it to fail.  Are you passing `inputValue` back in as well?  (I can understand a flash, but I would expect the correct result at the end of it.)

[2016-03-21 10:37] eladlevy commented on #165
I'm experiencing the same issue with almost identical use case and implementation as @jeffsaracco described.

[2016-03-21 12:44] nosilleg commented on #165
Are either of you using `onBlur`? What happens if you change `onKeyUp` to `onChange`?

[2016-03-22 12:07] nosilleg opened #166 "Version 1.1.6 breaks clicking on options"
Clicking on options no longer works if there is an `onBlur` handler, instead the keyboard must be used.

PR incoming.

[2016-03-22 12:25] nosilleg commented on #165
I expect that you'll see better behaviour with https://github.com/fmoo/react-typeahead/pull/167 as proper tracking is done with the value now, instead of the change in 1.1.6 which effectively dropped the value between renders.

[2016-03-23 10:26] dshiells commented on #157
Natively, I don't believe so. But a workaround can be found here: https://github.com/fmoo/react-typeahead/issues/84

[2016-03-24 18:49] arahansen opened #169 "Option to programmatically close dropdown?"
Is there an option to set a flag that will force the typeahead dropdown to close?

Example use case: User blurs out of the typeahead element, I would like the dropdown to close even if there are still options being suggested.

Currently, the dropdown stays open until an option is selected.

[2016-03-24 20:01] jeromebridge commented on #165
I'm also seeing this issue using async load of options and redux (version 1.1.6 of typeahead)  I downgraded to 1.1.5 to get around the issue.

[2016-03-25 01:12] fmoo commented on #165
Ok, I've reverted and published as 1.1.7 (available on both branch master, and 1.1.x)

[2016-03-25 01:12] #165 closed

[2016-03-25 01:13] #159 closed

[2016-03-27 08:43] eladlevy commented on #165
Thanks :+1:

[2016-03-29 02:21] JlineZen opened #170 "Can we add a default option while there was no option?"
I got a idea that whether we can option a API for the default option cause once we do not have any options in the options container,can we add a default option for the component. thanks.

[2016-03-29 16:26] opoani opened #171 "Problem using webpack"
Hi,
Im experiencing problems using webpack . I receive an error on the line in typeahead where jquery is used:
  isArray: $.isArray,

$ appears to be undefined , any clue on how to make typeahead work with webpack ?

[2016-03-29 21:04] VinSpee opened #172 "use of React.__spread"
It seems as though `React.__spread` is a private method, any reason you're using it instead of an Object spread polyfill or something similar?

https://github.com/facebook/react/blob/6a8ebfc41842fb200c87a919478dcd3aa95be0d7/src/isomorphic/React.js#L70

[2016-03-29 22:56] fmoo commented on #172
No good reason afaik.  Please send a PR and ill merge it ASAP.

[2016-03-30 02:04] VinSpee commented on #172
looks like it's in the `dist` directory, so it's likely react using it in a non-JSX version - my bad!

[2016-03-30 02:04] #172 closed

[2016-03-30 14:10] nosilleg opened #173 "props.disable is a breaking change in 1.1.7"
Previously we were passing in `disabled` to `props.inputProps`, but with the change in 1.1.7 this is now overwritten by `props.disable` which we are not passing in (because it didn't exist in prior releases.)

As such, our previously disabled inputs are no longer disabled.

See https://github.com/fmoo/react-typeahead/commit/478dbfcbc8325d26c5ac6dbfaf26ade7b3ec517a#diff-f431d994af3ed5b8d4a8628b2978

[2016-03-30 14:59] fmoo commented on #173
Not a fan of 1 on a release revision.

If we go with 2, it's arguable we should clean up *all* the redundant methods (onKeyUp, onKeyDown, etc), but this isn't a release revision change either.  We should probably update the docs so people stop submitting this type of change.

3 makes the most sense in the short-term, I think.  I'll merge in and release a PR ASAP if you put one up.

[2016-03-30 15:05] nosilleg commented on #173
Sounds good.

[2016-03-30 15:28] jmesquita commented on #98
@fmoo, I can create a PR for this. Is this still of interest?

[2016-03-30 15:38] fmoo commented on #98
Yeah, this is still interesting; gulp-react is deprecated.

[2016-03-30 17:07] nosilleg commented on #173
At a computer now.  Have created the PR #175

[2016-03-30 17:08] nosilleg commented on #173
Note that this is a distinct issue from 'disabled' vs 'disable'

[2016-03-30 17:24] #173 closed

[2016-03-30 17:34] #166 closed

[2016-03-30 17:37] fmoo commented on #40
I merged #35 last June.  lmk if you're still having issues.

[2016-03-30 17:37] #40 closed

[2016-04-01 04:12] zerkms commented on #171
There is no `$.isArray` line anywhere in the code. Are you sure you don't confuse this library with some other?

[2016-04-01 04:14] zerkms commented on #170
Why would not you do that in the parent component: it knows better about the context and how to handle it.

[2016-04-01 04:41] fmoo commented on #171
@opoani - can you provide a traceback or anything?  Thanks.

[2016-04-02 19:32] nosilleg commented on #151
@benrlodge I'm coming to this from #176

What's the use case here?  Is this something that Tokenizer defaultSelected doesn't solve?  Are you only using Typeahead and not Tokenizer?

[2016-04-02 19:40] nosilleg commented on #104
This was fixed in 1.1.6 and then reverted because it caused other bugs.  I'm hoping to submit a PR for a v2 that will solve this properly.

[2016-04-03 11:11] liammclennan commented on #160
Try

    <Tokenizer inputProps={{type:'email'}} />

[2016-04-04 13:25] juanda99 opened #177 "Render tokenizer with several values"
Just starting using this component. Trying to implement it as a editor with adazzle/react-data-grid.

I have a table where I want to render several items on a field.
I started using this component, so I can create several items:

<div class="typeahead-token"> Item 1 created </div>
<div class="typeahead-token"> Item 1 created </div>
<div class="typeahead"> Autocomplete </div>

But how can I render

[2016-04-04 17:14] minyoung commented on #141
I have a pull request for this:
https://github.com/fmoo/react-typeahead/pull/168

[2016-04-04 17:36] rrcobb commented on #113
This behavior can be achieved with `props.showListWhenEmpty` in combination with filtering out all the options when the input is not focused.

A helper for this would be nice - show list when empty doesn't seem as useful as show list when focused.

[2016-04-04 21:39] sfarthin commented on #74
Anyone have an example of getting valueLink to work with this module ?

[2016-04-05 07:43] juanda99 commented on #177
I just looked better through the docs, property defaultSelected was what I needed.

[code]

[2016-04-05 07:43] #177 closed

[2016-04-05 14:22] sfarthin commented on #74
Just in case if this is useful to anyone. I was able to get something like a controlled variable/valueLink this way.

        React.createClass({
            onChange: function(e) {
                var value = e.target.value.replace(/ /gi, "-"); // Do some adjusting to input.
                this.setState({ value: value });
                this.refs.typeahead.setEntryText(value);
            },

[2016-04-07 16:09] benrlodge commented on #151
i'm only using Typeahead @nosilleg

[2016-04-08 08:18] bob76828 opened #178 "please support React 15.0.0"
I got the error that "Uncaught TypeError: React.__spread is not a function" on 15.0.0. It seems like the private method is removed.

https://github.com/facebook/react/commit/a142fd257803a218b5b9b2e76c327f0421b9b8b6

[2016-04-08 08:47] bob76828 commented on #178
I found what the problem is gulp-react uses the private method and it is deprecated. Maybe you should use gulp-babel to precompile jsx.

[2016-04-08 09:30] tanepiper commented on #178
Hitting this issue to with upgrading from React-15.0.0-rc2 to React15 as well

[2016-04-08 14:10] eddts commented on #155
I'm still sort of struggling through this as there's not a lot of documentation about it. Specifically getting the arrow keys to work and suppress the tab key event which currently submits the form!

In the most basic implementation, though, you just have to ensure that the items that list out your options have an onClick binding which calls the onOptionSelected function which is passed through, a

[2016-04-08 15:47] export-mike opened #179 "inputProps={{value: this.props.value}} :("
just want to clear my input after submitting a form. I'll keep this here I may contribute next week with a PR. but if you have any quick wins let me know!

[2016-04-08 15:59] export-mike commented on #179
intermediate solution to get the job done use refs and call ```this.refs.field.setState({ entryValue: ' ' });```

[2016-04-08 18:46] rexkenley opened #180 "2 TypeAhead on the same line and drop down list pushing lines down"
Hi

I have 2 questions, thanks for your help.

1.) How do you keep 2 TypeAhead on the same line? The second TypeAhead always go to the next line.

2.) How do you keep the list from pushing all elements below it down. I would like the list to float like a regular dropdown box list.

[2016-04-08 23:12] fmoo commented on #178
Is this a matter of bumping the devDependencies and republishing?

[2016-04-09 03:11] #178 closed

[2016-04-09 03:11] fmoo commented on #178
Fixed in 1.1.9 .

I replaced gulp-react with gulp-babel and reactify with babelify.

[2016-04-09 03:12] fmoo commented on #172
Turns out there was actually something screwed up.  Should be fixed in 1.1.9

[2016-04-12 06:39] vrunjeti commented on #169
This is somewhat of a workaround, but I managed to accomplish this with something like this:

[code]

Essentially, this makes use of how [the selector won't render if there are no options](https://github.com/fmoo/react-typeahead/pull/156) by setting your options to an empty array when the input is blurred. So I guess it's a workaround since it doesn't directly close the dropdown, but puts it in a

[2016-04-12 06:41] vrunjeti commented on #129
Copied and pasted from #169:

This is somewhat of a workaround, but I managed to accomplish this with something like this:

[code]

Essentially, this makes use of how [the selector won't render if there are no options](https://github.com/fmoo/react-typeahead/pull/156) by setting your options to an empty array when the input is blurred. So I guess it's a workaround since it doesn't directly close t

[2016-04-12 10:05] vrunjeti opened #181 "Using setEntryText or setting a typeahead's entryValue state variable with a ref/from outside the typeahead component has unwanted side effects"
I'm trying to set the value of the typeahead's input, but doing so with `setEntryText` or setting its `entryValue` state also renders the dropdown with one option containing the chosen value.

The solution suggested in #116 works for setting the input's value, but doing so also displayed the dropdown containing one option with that value. This brought up further issues with trying to manually blur

[2016-04-12 10:18] vrunjeti commented on #181
Update: It looks like @yurynix's suggestion from #74 doesn't actually work for me. Maybe I was imagining things... Anyways I suppose I'm back to square one.

[2016-04-12 10:30] vrunjeti commented on #181
Update: I'm not so sure anymore if those side effects are a result of `setEntryText`. It might have been an issue with my code (oops). However, I'm still curious if anyone has this issue.

[2016-04-18 18:46] localjo opened #182 "Ability to pass custom prop to customListComponent"
We want the ability to pass an `href` value along with the options into our `customListComponent`. The idea is to make the options that display directly clickable. I was able to achieve this by adding a rider object inside the `customClasses` prop;

`customClasses={{menuItems: props.items, input: 'context-menu__search'}}`

This works, without warnings, but it would be nice if there was either a pr

[2016-04-19 15:09] export-mike commented on #178
regarding warnings: https://github.com/fmoo/react-typeahead/pull/183

[2016-04-20 11:29] burmester commented on #169
I tried to use this workaround, but if you are using "customListComponent" and relay a onClick function thought ex displayOption, onBlur is called before onClick.

[2016-04-20 11:39] burmester commented on #155
This is how i use it:

`
< Typeahead
        options={schooltype.list}
        maxVisible={5}
        customListComponent={TypeaheadItem}
        filterOption={filterOption}
        displayOption={this.handleItemClick}
        placeholder={placeholder} / >
`

    var TypeaheadItem = React.createClass({
        handleOnClick: function (e) {
            this.props.displayOption(e);
        },

[2016-04-21 13:21] nikhilaravi commented on #179
@export-mike I'm having the same problem! I've used your temp solution for now and it works!

[2016-04-21 13:32] export-mike commented on #179
@nikhilaravi can you try out, this beta version we're currently working on: ```npm i react-typeahead@2.0.0-alpha.1```

[2016-04-25 18:29] localjo opened #185 "Visible state not recalculated when parent changes maxVisible prop"
I'm using `react-typeahead` inside a parent component (a drop down menu in this case), and that component has the `maxVisible` value in it's state. Unfortunately, when that value changes and the typeahead is re-rendered it still uses the initial `maxVisible` value instead of the new value. I'm working on a fix and should have a PR ready in the next hour or so.

[2016-05-03 15:29] ImranAhmed opened #188 "npm install"
Please could you update dependencies as ReactJS went from 0.14.8 to 15.0.0 which is causing issues.

Thanks,

[2016-05-03 16:33] fmoo commented on #188
Hi Imran,

Fixing the issue includes some breaking changes, so you'll need to update to the latest react-typeahead, 2.0.0-alpha.1

The primary one that you'll run into is defaultValue -> initialValue

There are some other breaking changes I was hoping to get in before cutting an official release, but if you need react-15 now, that's your best bet.

[2016-05-05 05:58] nitin-daffodil opened #189 "On re-select the input-text the first option in list becomes selected by default."
[code]

[2016-05-05 05:59] #189 closed

[2016-05-05 06:02] tanmay-cs13 opened #190 "On re-select the text-input the first option of the list gets selected by default"
[code]

[2016-05-09 11:42] nikhilaravi opened #191 "Option to specify an EmptyLabel for when no matches are found in the options array"
If no matches are found I want to be able to display a message like 'No matching options found'

[2016-05-10 15:48] Anenth commented on #69
`react/addons` is deprecated! why we using that?

[2016-05-10 15:48] Anenth commented on #69
am having the same issue, i couldn't find a fix it.

[2016-05-10 22:05] fmoo commented on #69
Have you tried switching to the 2.0.0-alpha.1 release yet?  I was hoping to get some more breaking changes in but with everyone wanting react 15, I should probably just push those to 3.0

[2016-05-21 01:14] zalbiraw commented on #179
I am running into this problem as well, and I have tried it with alpha 1 and 2

[2016-05-21 09:20] export-mike commented on #179
you'll have to call refs on this, to have more control. It's not ideal.

Feel free to PR value props mapping to the value of the field, it's all tangled with state at the moment, this code can be simplified.

[2016-05-31 15:58] jkindness opened #199 "showOptionsWhenEmpty using Tokenizer"
It looks like showOptionsWhenEmpty only works with Typeahead.

I'm using version 2.0.0-alpha.4 and setting showOptionsWhenEmpty to true works as expected when using Typeahead but not with Tokenizer.

[2016-06-01 12:43] export-mike opened #200 "typeahead, L121, return result = searchOptions(value, options);"
```return result = searchOptions(value, options);```

https://github.com/fmoo/react-typeahead/blob/master/src/typeahead/index.js#L121

Any ideas what this is for? Looks like a bug to me.

I've been getting errors for result is not defined

[2016-06-01 13:39] export-mike opened #202 "travis CI?"
thoughts? its free for public repos

[2016-06-01 15:09] fmoo commented on #200
my guess is this was a badly refactored debug assignment or something.  I merged the fix Will do a .5 release soon.

[2016-06-01 15:09] #200 closed

[2016-06-01 15:12] fmoo commented on #202
Yeah, this would be great to have.   I've only set up travis once (for a non-JS project) and haven't had the cycles to figure it for this yet.

[2016-06-01 16:07] fmoo commented on #141
Should be fixed.

[2016-06-01 16:07] #141 closed

[2016-06-01 16:30] export-mike commented on #202
sure I'll add it to my todo, it'll be a good way for me to understand the build process

[2016-06-03 19:18] Nagogus opened #204 "typeahead, value is not changed after mounting"
If component mounted and property `value` changed it is not reflected in the input.
Is it expected behaviour?

[2016-06-16 06:20] amitava82 opened #205 "onOptionSelected does not trigger on click"
`2.0.0-alpha.5`
Only keyboard event works

[2016-06-21 21:00] AndyNhi opened #206 "Typeahead containing both "value & defaultValue" props"
Anyone have any clues as to why or how I can prevent the component from setting both the defaultValue props and value props? It causes the warning message below. (See image).

component-render
[code]
![screen shot 2016-06-21 at 1 52 44 pm](https://cloud.githubusercontent.com/assets/4207747/16245954/f8e88a3a-37b7-11e6-9adc-a5a4f6e22f18.png)

[2016-06-26 22:54] zdhickman commented on #205
FYi https://github.com/HubSpot/react-typeahead/pull/6 has a quick workaround that uses `onMouseDown` instead of `onClick` to check for clicks

[2016-07-01 07:16] isnifer commented on #206
@AndyNhi Are you sure that problem with Typeahead? Typeahead set only **value** prop

[2016-07-01 15:54] Semigradsky commented on #206
That is issue with react-typeahead v1.1.9

[2016-07-05 19:48] caitwood commented on #206
Seeing the same problem. Also v1.1.9

[2016-07-05 19:49] caitwood commented on #204
I see this as well. I want to clear out the input text when an option is selected and it doesn't seem to update when I change the value prop.

[2016-07-17 16:55] devnetf commented on #206
Same here

[2016-07-19 09:34] miraage commented on #113
Any updates on this?

@rrcobb could you please provide sample code?

[2016-07-21 16:20] #98 closed

[2016-07-22 14:41] plemarquand opened #210 "'Esc' no longer closes container"

[2016-07-22 14:43] #210 closed

[2016-08-12 14:22] isnifer opened #211 "Options are here, but list is hidden"
Hi!

I found an error while e2e-testing.
I've captured gif with demo:
![typeahead_error](https://cloud.githubusercontent.com/assets/1788245/17625143/40d6e4ce-60b0-11e6-8689-69e8477a809f.gif)

When we've selected value (`_onOptionSelected`), flag `showResults` becomes `false`.
When options have changed nothing toggle that flag.
I would like to suggest toggle this flag if `options.length > 0`. It wo

[2016-08-16 11:59] dzmitry-kremez-itechart opened #213 "Input text highlight"
It will be cool to be able to enable highlight with one props
[code]
So it could look like in original twitter typeahead lib https://twitter.github.io/typeahead.js/examples/#the-basics
![typeahead](https://cloud.githubusercontent.com/assets/17785556/17697897/5e6fd23a-63c0-11e6-8d45-9f5d69e8caf2.png)

in my app I've finished with custom displayOption implementation
[code]
it is obvious, but then I

[2016-08-16 12:08] dzmitry-kremez-itechart opened #214 "Input value doesn't update if new value comes in nextProps"
I fixed it with
[code]
[code]

I think this code could be placed inside the src. Is there any reason that why not to update `entryValue` state from new props?

[2016-08-18 14:32] rishadjb opened #215 "Focus on text input when typeahead is clicked"
When I click in the area of the typeahead (or tokenizer when using it), it doesn't focus on the text input field automatically. I have to click the input field to focus on it.

There is a .focus function, but there is no onClick for the typeahead, which I link the .focus to.

Is there way to do this? Hopefully my explanation is clear enough in what I intend to do.

Thanks.

[2016-08-26 14:01] bmac opened #216 "Tag 2.0.0-alpha.5 in github."
Hello.

[NPM claims](https://www.npmjs.com/package/react-typeahead) the latest release is 2.0.0-alpha.5. I'd like to upgrade to this version however it doesn't look like that release is tagged on github which makes it difficult to generate a diff and inspect the changes.
Example diff: https://github.com/fmoo/react-typeahead/compare/1.1.9...2.0.0-alpha.4

Would it be possible for you to tag the 2.0

[2016-08-26 17:03] fmoo commented on #216
crap.  fixed now.

[2016-08-26 17:03] #216 closed

[2016-08-30 10:01] bob76828 opened #217 "Support render children props"
I want to add a add-ons icon to input element.
It's the bootstrap example.

`<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>`

[2016-08-31 04:47] em0ney commented on #205
I had this issue, but in my case, I was trying to hide results onBlur. The blur was firing before the selection was made. Just putting that here incase it helps you or anyone else

[2016-09-06 15:53] samrispaud commented on #204
@caitwood @Nagogus @fmoo i'm having the same problem. any PR or solution for this?

[2016-09-07 08:57] Glogo commented on #214
This is bugging me for quite some time. For those who prefer different solution (hotfix) this is my suggestion:

- Wrap Typehead into your component and add value as your property
- Implement `componentWillReceiveProps` and when your value changes, just `setState` with new `entryValue`

[code]

[2016-09-12 20:57] eeiswerth commented on #110
You could do something like this. It's not pretty, but it will get you moving forward in a bind.

`
var originalPreventDefault = Event.prototype.preventDefault;
Event.prototype.preventDefault = function () {
    if (this.type === 'keydown') {
        var parent = $(this.target).parent();
        if (this.which === 9 && parent.hasClass('typeahead')) {
            console.log("It's a tab for typeahe

[2016-09-13 19:37] eeiswerth opened #218 "Tokenizer results are always on top"
The way in which I laid out my page required that I had tokenizer results on the bottom of the input, rather than the top. The tokenizer doesn't support this natively, but you can use a trick like this to get around it and force the results to the bottom.  It's not pretty, but it gets the job done.

[code]

[2016-09-15 15:02] druellan commented on #169
I have the same problem as @burmester, the input is not populated because the onBlur clear the list before onOptionSelected.

[2016-09-15 20:52] thehuey commented on #169
You should be able to empty out the input value, which should remove the
selection dropdown.

On Thu, Sep 15, 2016 at 8:02 AM, Dario Ruellan <notifications@github.com>
wrote:

[2016-09-16 13:14] druellan commented on #169
@thehuey thanks! Yes, but that means the user will lost the input on blur, which is not ideal, and in fact a bit annoying.

And BTW, is there a way to do that without touching the DOM directly?

[2016-09-16 14:10] erbridge commented on #206
This is fixed in `2.0.0-alpha.5`, btw.

[2016-10-04 08:32] gaurab13 opened #220 "scrolling not working with up/down arrow keys"
The list showing the typeahead options is scrollable with mouse scroll but does not move with keyboard up/down keys.

[2016-10-12 09:27] ssdhingra opened #221 "Event Not working on Autocomplete in react js"

[2016-10-14 10:54] #221 closed

[2016-10-25 17:33] digital-flowers opened #222 "change TypeaheadOption children property to React.PropTypes.node"
from react documentation
`React.PropTypes.node`: Anything that can be rendered: numbers, strings, elements or an array (or fragment) containing these types.

this gives more flexibility to render custom html for each element for example

[code]

[2016-11-09 03:40] petrogad commented on #204
Seeing same issue here. Looking to create a PR.

[2016-11-09 15:23] samrispaud commented on #204
@petrogad solution for me was to switch to this fork https://github.com/HubSpot/react-typeahead which is maintained more readily. the fix for this problem is in there

[2016-11-09 15:26] petrogad commented on #204
Awesome, thanks for the info; I also took a look at https://github.com/moroshko/react-autosuggest that seemed to have an extremely active community w/ mobile support.

[2016-11-21 17:54] jennykortina commented on #205
@zdhickman is there anyway to get an onlick or onmousedown event right now?  I tried both and neither work?  I'm using css to expand/contract the search box on focus, which isn't allowing me to use onclick to send the typeahead slection

[2016-11-23 11:19] raduchiriac opened #223 "Clicking an element from the TypeaheadList not firing while showOptionsWhenEmpty"
I am using `react-typeahead@2.0.0-alpha.5` with `showOptionsWhenEmpty={true}`.

[code]

When I focus my Typeahead, the three elements are displayed but clicking on any of them does not fire the onOptionSelected.

Only if I start typing in the Typeahead and select one of the results would work.

[2016-11-27 12:12] quarterto opened #224 "After selecting an option, typehead doesn't work until blur and refocus"
![](https://zippy.gfycat.com/SillySplendidAmphibian.gif)

[2016-12-04 21:04] philippelabat commented on #224
Same issue on my end.

[2016-12-04 21:15] quarterto commented on #224
I fixed it by doing a [manual `blur`/`focus`](https://github.com/quarterto/Menagerie/blob/master/components/selector.jsx#L107-L108) on the element which is horrible 😕

[2017-01-17 21:52] computapars commented on #77
+1

[2017-01-31 07:08] NickBrooks commented on #224
Same issue at my end - but fixed thanks to @zikphil

[2017-01-31 23:39] ahernandez-miralles opened #229 "Test failures on master"
I'm getting 38 test failures on the master branch... I ran `npm i` followed by `gulp test`. Is this a known issue?

[code]

[2017-02-01 02:31] fmoo commented on #229
Unfortunately, yes.  This is also blocking the next major release and prevents us from coming out of RC.

[2017-02-01 02:41] ahernandez-miralles commented on #229
Got it, thanks for the quick response. Is there another issue documenting this? (I did a brief search but didn't find one)

[2017-02-01 19:19] fmoo commented on #229
There might be, but let's use this one.​

[2017-02-01 23:24] computapars commented on #155
I'm also having trouble getting accessibility to work when using CustomListComponent as well. It looks like the onKeyDown doesn't read any arrow up or down events. Has anyone been able to replicate the accessibility?

[2017-02-09 13:28] AntiPaste commented on #223
Workaround: change the `onClick` of the `TypeaheadOption` to `onMouseDown`.

[2017-02-17 18:14] mateuspontes commented on #205
I had this issue, I fixed with a setTimeout while they patch a better solution.

[code]

[2017-03-16 09:38] larrydahooster commented on #215
![mar-16-2017 10-37-16](https://cloud.githubusercontent.com/assets/4989851/23989934/9f432184-0a34-11e7-9f91-13a4ea94b0d0.gif)

I think I am having the same issue like @rishadjb described above.

[2017-04-21 20:04] shawn-simon-developer commented on #224
You can also use an onchange event and the typeahead as a ref similar to @zikphil

[code]

[2017-04-28 02:57] kytwb opened #231 "React.createClass is deprecated"

[2017-05-04 22:14] dmacthedestroyer opened #232 "Custom render TypeaheadOption children"
I see there's a `customListComponent` that will allow you to override the default implementation of how it renders and behaves, but this is a really heavyweight option if all I want to do is control how the individual options render.

In my particular case, I need to style an option differently if it's a certain value but I can't seem to do that unless I rewrite the whole `customListComponent`.

I

[2017-05-13 10:40] sushilnykaa commented on #223
Click on option not triggering the onOptionSelected, its weired its a basic features and its still open?

[2017-05-18 07:26] charithAmila opened #233 "User react redux form"
I use this with react-redux form . It is working . when destroy the redux from typeahead is not destroy (clean)

[code]

[code]

[2017-05-31 09:08] danieljuhl commented on #231
@fmoo is the project abandoned? Or are you still maintaining it..

[2017-05-31 15:06] fmoo commented on #231
I don't have time to work on it much these days.

 I'm happy to merge PRs (and have been reaching out to people who send me a
couple) to find a new owner, but nobody has been interested so far.

On May 31, 2017 2:08 AM, "Daniel Juhl" <notifications@github.com> wrote:

[2017-06-01 10:03] ZakariaHili opened #236 "Problem: users must click outside of the form to see suggestions"
Hi

AS you can see below, I used the same code in the tutorial, but when the user type, for example the first time he will see the suggestions, but after choosing a token, he must click outside (onmouseout with click) of the search bar to see propositions, if he didn't, he will not see anything.
here the screenshot (here i chosed george then i tried to type PAUL, but nothing showing)
![image](http

[2017-06-19 17:18] kuzzmi opened #237 "Remove the onMouseDown hack from #235"
As per discussion from https://github.com/fmoo/react-typeahead/pull/235, the `onMouseDown` workaround must be removed.

Currently a workaround to fix #205 is applied to force a component react on clicking. In order to get rid of this workaround the following should be done:

- [ ] Fix an issue with `onClick`
- [ ] Remove `onMouseDown` workaround
- [ ] Remove `onMouseDown` test from https://github.

[2017-06-21 16:03] twuerker commented on #110
Are either of the mentioned PR's going to be merged? I would like to TAB to other input fields after a selection is made also.

[2017-06-21 16:57] fmoo commented on #110
@twuerker - I'd like to pick @clalimarmo's #140, which has docs but a merge conflict.  Ideally there would be a short test case as well.

If either of you update the PR, I'm more than happy to merge it in.

[2017-06-30 17:02] googol7 opened #238 "Option to tolerate diacritics"
It would be very helpful if an option could be set so that react-typehead would return strings with and without diacritics if the value contains diacritics.

e.g.: The user searches for "Günter"

The result should also include "Gunter":

Günter
Gunter
Gůnter
Gúnter

[2017-06-30 19:17] googol7 commented on #238
See: https://github.com/mattyork/fuzzy/issues/39

[2017-07-04 03:19] #169 closed

[2017-07-16 16:06] zjr commented on #169
@arahansen why did you close this issue?

[2017-07-20 19:21] RALifeCoach commented on #236
Did you get this to work?

[2017-08-01 14:22] ZakariaHili commented on #236
no, i still have the same pb

[2017-08-01 15:36] RALifeCoach commented on #236
I found the bug and fixed it in their code. In order to use the fix, I created a new NPM module called omnigon-react-typeahead. Feel free to use it if you still need that functionality. One day I will get around to creating a PR, but I haven't done that yet.

[2017-08-01 19:20] fmoo commented on #236
😭😭😭

[2017-08-01 20:37] #182 closed

[2017-08-01 20:37] #185 closed

[2017-08-02 08:41] ZakariaHili commented on #236
@RALifeCoach , I tried your module and its worked perfectly, thank you very much
I hope you will create a PR soon

[2017-08-02 08:41] #236 closed

[2017-09-19 12:58] Hedgepig commented on #169
I had the same problem after implementing the solution provided by @vrunjeti.

I solved it with the following, it's not pretty though:

1) turning my custom list component into a class as the Typeahead component was trying to use the ref.
2) Putting the closeDropdown in a timeout:
[code]

I think underscore and probably lodash have a defer function that will make more elegant code.

[2017-10-13 16:06] divined opened #241 "Click outside must close suggestions."
Click outside must close suggestions.

How to?

[2017-10-19 10:11] divined commented on #241
After any page updates suggestions are opens again (((

Why not focused element show suggestions? Please add rule to shoeResults:

1. entryValue in_array searchResults and searchResults.length == 1 > hide
2. isFocused == false > hide

[2017-11-03 17:42] filosofikode commented on #241
On my project I use this concept:

- create `isSuggestionOpen` state, and set it to `false` by default
- while user focus on input, set that state to `true` (via `onFocus` props)
- if user click outside input, set that state to `false` (via `onBlur` props)
- in `customClasses.results` props, I add this class (just for example): `Typeahead__container Typeahead__container--${this.state.isSuggestionO

[2017-11-22 16:34] alexmassicott commented on #215
yes i have the same issue, i have to click multiple times

[2017-12-15 07:48] Richard-Thompson commented on #224
does anyone know if there is a fix to this? i have tried @zikphil's method and it didnt work...

[2017-12-15 07:50] Richard-Thompson commented on #215
was there any fix for this? @alexmassicott @larrydahooster ?

[2017-12-15 10:42] quarterto commented on #224
@Richard-Thompson have you tried [my workaround](https://github.com/quarterto/Menagerie/blob/master/components/selector.jsx#L107-L108)?

[2017-12-15 11:11] Richard-Thompson commented on #224
I'm not using the tokeniser version just the other standard typeahead version, so Im not sure how to integrate that into my code base. Here is my code for the typeahead:
` <Typeahead
            defaultValue='o'
            ref='typeahead'
            options={this.props.playlists}
            filterOption='songTitle'
            maxVisible={10}
            displayOption={(option) => {

[2017-12-15 11:14] Richard-Thompson commented on #224
I'm not using the tokeniser version just the other standard typeahead version, so Im not sure how to integrate that into my code base. Here is my code for the typeahead:
[code]

[2017-12-15 12:30] quarterto commented on #224
in `onOptionSelected`, adding `this.refs.typeahead.refs.blur() ; this.refs.typeahead.refs.focus()` _should_ work

[2017-12-15 13:04] Richard-Thompson commented on #224
all im getting is
![screen shot 2017-12-15 at 13 02 53](https://user-images.githubusercontent.com/23527306/34043307-6cca7ec8-e198-11e7-9f7b-43f82424cc41.png)

[2017-12-15 13:40] quarterto commented on #224
ah, sorry, typo. it should be `this.refs.typeahead.refs.entry.blur()` (same for focus as well)

[2017-12-15 13:46] Richard-Thompson commented on #224
Thanks, this has worked, I was so close to using .entry wasn't too sure. Anyway thanks for the help!

[2017-12-15 17:23] alexmassicott commented on #215
@Richard-Thompson

I fixed it by changing the react-typeahead manually in the index.js,

I added on change to the onChange event, replace the index.js in the lib folder in the node_module

I can give you my whole node_module folder if you need it.
What causes the dropdown  to trigger is this line in the typeahead index.js
this.setState({ isFocused: true, showResults: true });

[index.js.zip](https

[2017-12-15 18:05] fmoo commented on #215
If someone wants to send a PR with this behavior behind an option (or if
this is saner default behavior), I'll pick it up and do an alpha.8 release.

[2018-01-12 18:33] charlesbdudley commented on #199
I've created a PR for this issue here: https://github.com/fmoo/react-typeahead/pull/244

[2018-01-13 18:32] fmoo commented on #199
Fixed in react-typeahead@2.0.0-alpha.8

[2018-01-13 18:32] #199 closed

[2018-01-26 20:29] jacobsmith opened #246 "allowCustomValues PropType requires Number but README says Boolean"
Hello,

Thanks for this library! It's been very easy to pull down and get integrated. I did run into one issue:

The current README states that `allowCustomValues` is a `boolean` prop that can be passed in ( https://github.com/fmoo/react-typeahead#propsallowcustomvalues ).

However, when I have that set to `false`, I see the following in my console:

[code]

I'd be more than happy to update docume

[2018-01-29 14:26] jacobsmith commented on #246
Due to some other business requirements, I ended up using https://github.com/reactjs/react-autocomplete instead. To achieve the same requirement of users selecting from the list, I implemented a validation of:

[code]

It may or may not be useful to any future person who finds this issue.

I will leave the issue open as it still seems like either the documentation or the code is slightly mismatche

[2018-04-15 06:39] gforge opened #247 "Suggestiono - a rewrite in typescript"
Hi,

thank you for this excellent repo! I found that the code-base was somewhat old and in order to understand it better I did a rewrite to TypeScript: https://github.com/gforge/react-typeahead-ts

I think most of the logic is in place but there are plenty of tests that still need to be merged. I found some strange details in the searchOptions tests. If you wish I can create a PR with the repo but

[2018-05-18 04:43] skanel commented on #96
@aganglada  change `ref` to `Ref` with uppercase

[2018-06-06 10:11] bhanu00 commented on #220
I am also facing same issue.

[2018-06-28 20:54] invious opened #252 "How to implement search matching sort function?"
I have this function which
[code]

How can I make it so that the results are sorted by this function as I type in the AsyncTypeAhead

[2018-06-28 21:04] invious commented on #252
something like this?

[code]

it doesn't seem like the sorter function is ever getting called

[2018-07-11 04:59] ZeroCho opened #253 "Can I use customClasses with styled components?"
[code]
I managed to use react-typeahead with styled-components by `styled(Typeahead)`, but I don't know whether i can use styled-components with customClasses(input and results). Currently, I'm using CSS Modules and I want to change to styled-components.

[2018-08-08 10:25] stavlocker opened #254 "Urgent: Clearing input value"
Hello. I'm trying to clear the text on the typeahead component and I just can't get it working.

I've tried:
[code]

[code]

[code]

And resetting the nameSelected in state, which doesn't work.

I've also tried using a ref:
[code]

Which also didn't work.

How do I clear the input value??

Thanks in advance

[2018-10-06 11:16] jigar1101 commented on #182
@localjo Did you find a way to pass props to customListComponent?

[2018-10-10 17:58] stavlocker commented on #254
This issue was originally about me not knowing how to clear input value, because it's not documented. Then I luckily found out how to do that, so it was about the documentation lacking in the subject of clearing input.

Then I tried to implement my own arrow navigation after finding no results online, and then found out that there's a secret arrow key navigation with the `hover` class. What?

The

[2018-10-10 18:50] stavlocker opened #255 "Tab acts unexpectedly"
Hi. There are problems with how tab behaves:
 - Tab should have it's default behaviour just like it does with normal inputs. The caret navigation shouldn't be mixed with the tab navigation. At least there should be an option to control this. Currently you can't even tab forward as `react-typeahead` _intentionally_ does for some odd reason. A fix to this would be https://github.com/fmoo/react-typea

[2018-10-10 18:53] stavlocker commented on #217
I'm pretty sure this is already implemented. Have you tried the [`customListComponent`](https://github.com/fmoo/react-typeahead#propscustomlistcomponent) prop?

[2018-10-11 08:50] stavlocker commented on #110
I think that regardless of the caret navigation, the tabbing shouldn't exist as currently you can't tab through even if you've selected an item. The arrow key navigation should be purely up/down/enter and shouldn't be messing with the tabbing. It's the most logical solution and the most intuitive one. Any progress on this?

[2018-10-11 09:32] stavlocker commented on #255
Here's my temporary solution, a.k.a the hackiest hack I ever hacked together:
[code]
Please just merge the PR that fixes this!

[2018-10-14 06:41] #217 closed

[2019-02-05 10:38] pjrharley commented on #107
This doesn't appear to be fixed at all in the latest version - the commit referenced above does seem to fix it but it's not been merged back into this repository.

[2019-08-09 19:22] ConnectedReasoning opened #257 "on entering text into Typeahead I get an warning/error message"

[2019-08-09 19:22] ConnectedReasoning opened #258 "on entering text into Typeahead I get an warning/error message"

[2019-10-15 23:24] aaroncrawford commented on #258
Getting this as well on React 16.10.1.

[2020-07-24 14:59] vipulvkp opened #261 "Token key passed as parameter in customClasses"
value of token key passed under customClasses for Tokenizer is being used as the className for Token component and also for  the <a> tag that renders with a close action.

This is wrong . same class name will be used for both parent and child which screws up the design.
Please separate them.

https://github.com/fmoo/react-typeahead/blob/master/src/tokenizer/token.js

https://github.com/wookiehango

[2020-11-02 22:01] gusfaria commented on #213
Was this feature added? would love to have this option in this library.

[2021-11-15 09:06] AStrubitsky opened #263 "Prop type of customListComponent."
Hi. I have one issue. If I set react-redux connet as customListComponent in Typeahead, I get warning "nvalid prop `customListComponent` supplied to `Typeahead`". In this case customListComponent is PropTypes.object. Could you add this prop type for customListComponent?